
@font-face{
  font-family:awesome;
  src:url(/assets/fonts/fontawesome-webfont.eot);
  src:url(/assets/fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"),
  url(/assets/fonts/fontawesome-webfont.woff) format("woff"),
  url(/assets/fonts/fontawesome-webfont.ttf) format("truetype")
  src: url("/assets/fonts/FontAwesome.otf") format("opentype");
}

@font-face{
  font-family:icomoon;
  src: url("/assets/fonts/IntrudingCat.otf") format("opentype");
  src:url(/assets/fonts/icomoon.eot);
  src:url(/assets/fonts/icomoon.eot?#iefix) format("embedded-opentype"),
  url(/assets/fonts/icomoon.woff) format("woff"),
  url(/assets/fonts/icomoon.ttf) format("truetype")
}

body 
{
    background-color:#000000;
    font-family: awesome !important;
    line-height: inherit !important;
    overflow:hidden;
}


@media only screen and (max-device-width: 480px) and (orientation: portrait) {
    body {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url(/assets/images/VEGA-HOME.png) no-repeat left top fixed;
		background-color: #FFFFFF !important;
		display: block;
		z-index: -1;
    }	
    
    .container {
		    position: relative;
	}
	
	#home-inner {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	    background:url(/assets/images/VEGA-HOME.png) no-repeat left top fixed;
	}


	header #menu-btn {
	    position: absolute;
	    bottom: -20px;
	    left: 7px;
	    width: 90px;
	    height: 71px;
	    background-image: url(/assets/images/menu-logo-10-in-by-4-in-version-005-200-x-100.gif);
	    background-size: 50px 90px;
	    background-repeat: no-repeat;
	    /*background-size: cover;*/
	    overflow: hidden;
	    cursor: pointer;
	    pointer-events: auto
	}

}

header #menu-btn {
    position: absolute;
    bottom: -20px;
    left: 7px;
    width: 90px;
    height: 71px;
    background-image: url(/assets/images/menu-logo-10-in-by-4-in-version-005-200-x-100.gif);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    pointer-events: auto
}

#home {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #000;
    display: none
}



@media all and (min-width:768px) {
    header #menu-btn {
        bottom: -18px;
        left: 14px;
        width: 114px;
        height: 90px
    }
	#home-inner {
	    width: 100%;
	    background-image: url(/assets/images/menu-logo-10-in-by-4-in-version-005-200-x-100.gif), url(/assets/images/VEGA-HOME.png);
	    background-repeat: no-repeat;
	    background-position: center top;
	    background-size: 770px auto;
	}	
    #home-inner {
        background-size: 1024px auto
    }
}

