/* iphone 5 portrait
@media only screen 
  and (max-device-width: 320px) 
  and (orientation: portrait) {
  */
@media screen and (device-aspect-ratio: 40/71) {
	

	.container-left {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url(/assets/images/stories/story1/bg/MASTER_OF_FIRST_PAGE_FACE_PORTRAIT_IPHONE5_640X568.png) no-repeat left top fixed;
		background-color: #FFFFFF !important;
		display: block;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	
	.container-right {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url(/assets/images/stories/story1/bg/MASTER_OF_FIRST_PAGE_FACE_PORTRAIT_IPHONE5_640X568.png) no-repeat right top fixed;
		background-color: #FFFFFF !important;
		width: 100%;
		height: 100%;
		display: none;
		z-index: -1;
	}
	
            .prev {
                z-index:1;
            }
                        
            .next {
                z-index:1;
            }

            .next img {
                position: absolute;
                top: 50%;
                right: 5px;
                height: 80px;
                width: 30px;
                z-index:1;
            }            

            .prev img {
                position: absolute;
                top: 50%;
                left: 5px;
                height: 80px;
                width: 30px;
                z-index:1;
            }     

	/* iphone portrait */
	.login_register_button_outer-left {
		list-style: none;
		display: none;
		text-shadow: 0 0 6px #FF0000;
		text-decoration: underline;
		color: white;
	}
	
	/* Controls the style of the Login label */	
	.login_register_button_outer-left li {
		font-size: 24px;
		border-radius: 10px;
		font-weight: bolder;
		position: relative;
		height: 160px;
		z-index: 999;
	}
	
	/* Login Label position */
	.login_register_button_outer-left li:nth-child(1) div.title {
		position: absolute;
		top: 60px;
		left: 40%;
		cursor: pointer;
	}

	
	/* Controls width of login/register background image */
	.login_register_button_outer-left li:nth-child(1) {
		width: 200px;
		background: url('/assets/images/goldgunleft.png') no-repeat;
		background-size: 200px;
		float: left;
	}
	
	/* Controls the style of the bubble */
	.login_register_button_outer-left li:nth-child(1) .describe_site {
		background: url('/assets/images/bubbles_login.png') no-repeat;
		background-size: 100%;
		background-position: center top;
		font-size: 24px;
		position: absolute;
		top: -194px;
		left: 20%;
		padding: 65px 30px;
		height: 240px;
		text-align: center;
		width: 100%;
		display: none;
		transform: perspective(800px) rotate(0deg) scale(1, 1) skew(0deg, 0deg) rotateX(0deg) rotateY(0deg);
		transition: left 0.8s ease 0s, top 0.8s ease 0s, opacity 0.8s ease 0s, -webkit-transform 0.8s ease 0s, transition 0.8s ease 0s;
		color: #ffffff;
		opacity: 0.8;
	}
	
	/* Controls the background image size of the gun on  register.  Margin is needed here to position the gun */
	.login_register_button_outer-right {
		margin: 0px 20px 0px auto;
		list-style: none;
		display: none;
		text-shadow: 0 0 6px #FF0000;
		text-decoration: underline;
		coor: white;
	}
	
	.login_register_button_outer-right li {
		font-size: 24px;
		border-radius: 10px;
		font-weight: bolder;
		position: relative;
		height: 160px;
		z-index: 999;
	}
	
	.login_register_button_outer-right li:nth-child(1) div.title {
		position: absolute;
		top: 60px;
		right: 30%;
		cursor: pointer;
	}

	/* Width is 100% of 200 */
	.login_register_button_outer-right li:nth-child(1) {
		width: 200px;
		background: url('/assets/images/goldgunright.png') no-repeat;
		background-size: 200px;
		float: right;
	}
	
	/* Position the bubble */
	.login_register_button_outer-right li:nth-child(1) .describe_site {
		background: url('/assets/images/bubbles_register.png') no-repeat;
		background-size: 100%;
		background-position: center top;
		font-size: 24px;
		position: absolute;
		top: -194px;
		right: 30%;
		//padding: 65px 30px;
		height: 240px;
		text-align: center;
		width: 100%;
		display: none;
		transform: perspective(800px) rotate(0deg) scale(1, 1) skew(0deg, 0deg)
			rotateX(0deg) rotateY(0deg);
		transition: left 0.8s ease 0s, top 0.8s ease 0s, opacity 0.8s ease 0s,
			-webkit-transform 0.8s ease 0s, transition 0.8s ease 0s;
		color: #ffffff;
		opacity: 0.7;
	}


	/* iphone portrait */
	#describe_about_site-left ul, #describe_about_site_startup ul {
		list-style: none;
		padding: 0px;	
	}
	#describe_about_site-left ul li {
		//opacity: 0.6;
		font-size: 20px;
		text-shadow: 0 0 6px #FF0000;
		text-decoration: underline;
		background-size: 100%;
		font-weight: bold;
		//background: url('/assets/images/phrase_bg.png') no-repeat top;
		//height: 100px;
		padding: 15px 10px;
		//margin-bottom: 10px;
		//border-radius: 4px;
		text-align: center;
		color: white;
	}

	#describe_about_site_startup ul {
		list-style: none;
		padding: 0px;
	}
	
	/* Animates the character up to position */
	#bg_left_character {
		position: absolute;
		top: 150%;
		left: 7%;
		transform: perspective(800px) rotate(0deg) scale(1, 1) skew(0deg, 0deg) rotateX(0deg) rotateY(0deg);
		transition: left 0.8s ease 0s, top 0.8s ease 0s, opacity 0.8s ease 0s, -webkit-transform 0.8s ease 0s, transition 0.8s ease 0s;
	}
	
	/* Adds fading below both characters */
	.content {
		background: rgba(255, 255, 255, 0)
			linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%,
			rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5) 85%,
			rgba(255, 255, 255, 1) 100%) repeat scroll 0 0;
		position: relative;
		margin-top: -200px;
		height: 200px;
	}
	
	.login_register_button_outer li {
		font-size: 24px;
	}
	
	#bg_left_character img, #bg_right_character img {
		width: 150px;
	}
	
	/* iphone portrait */
	.bg_left_character_after_load {
		top: 20% !important;
		left: 5% !important;
	}
	
	.bg_right_character_after_load {
		top: 20% !important;
		right: 0% !important;
	}
	
	#describe_about_site-left, #describe_about_site-right,
		#describe_about_site_startup {
		width: 90%;
	}
	
	#describe_about_site-left ul li, #describe_about_site-right ul li,
		#describe_about_site_startup ul li {
		font-size: 24px;
		text-shadow: 0 0 6px #FF0000;
		text-decoration: underline;
		//font-family: 'Gloria Hallelujah', cursive;
		color: white;
	}
	
	/* On click of gun, shows bubble */
	.login_register_button_outer-left li:nth-child(1) .describe_site {
		font-size: 16px;
		padding: 50px 20px 20px 20px;
	}
	.login_register_button_outer-right li:nth-child(1) .describe_site {
		font-size: 16px;
		padding: 50px 20px 20px 20px;
	}
	
	.left_bubble_hover {
		left: 50px !important;
		top: 100px !important;
	}
	
	.right_bubble_hover {
		right: 50px !important;
		top: 100px !important;
	}

	/* Displays the "Welcome to the game where you are the character" animation */
	#describe_about_site_startup p {
		top: 360%;
		left: -100%;
		text-align: center;
		color: yellow;
	}

	/* Displays the "Welcome to the game where you are the character" at bottom of page */
	#describe_about_site-left {
		width: 80%;
		margin: 0px auto;
		display: none;
		position: absolute;
		bottom: 10px;
	}
} /* END iphone portrait */
