target
.classpath
.project
.settings/
logs/
output
.cache-main
.cache-tests
nordic-oauth/.mvn/
nordic-oauth/.travis.yml
nordic-oauth/mvnw
nordic-oauth/mvnw.cmd
nordic-web/mvnw
nordic-web/mvnw.cmd
nordic-api/.externalToolBuilders/
nordic-api/.tmpBin/
nordic-core/.externalToolBuilders/


