target
.classpath
.project
.settings/
logs/
output
.cache-main
.cache-tests
vclues-oauth/.mvn/
vclues-oauth/.travis.yml
vclues-oauth/mvnw
vclues-oauth/mvnw.cmd
vclues-web/mvnw
vclues-web/mvnw.cmd
vclues-api/.externalToolBuilders/
vclues-api/.tmpBin/
vclues-core/.externalToolBuilders/
vclues-web/storage/PSD/
vclues-web/storage/Order_FO8F61159BB3.mov


