<div th:fragment="sidemenu"  class="sidebar" data-color="purple" data-image="/assets/img/sidebar-5.jpg">
   	<div class="sidebar-wrapper">
           <div class="logo">
               <a href="http://www.vclues.com" class="simple-text">
                   Video Clues LLC
               </a>
           </div>

           <ul class="nav">
               <li>
                   <a href="/welcome">
                       <i class="pe-7s-graph"></i>
                       <p>Dashboard</p>
                   </a>
               </li>
               <li>
                   <a href="/notifications">
                       <i class="pe-7s-bell"></i>
                       <p>Alerts</p>
                   </a>
               </li>               
           </ul>
   	</div>
</div>
