

        <footer th:fragment="footer" class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="/assets/html/terms.html">
                                Terms &amp; Conditions
                            </a>
                        </li>
                        <li>
                            <a href="/assets/html/privacy.html">
                                Privacy
                            </a>
                        </li>
                        <li>
                            <a href="/assets/html/contact.html">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </nav>   
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Video Clues LLC</a> 
                </p>
            </div>
        </footer>
