
<nav th:fragment="header" >
	<div class="container-fluid" style="height: 80px; ">
		<div><img src="/assets/images/images/vclues-logo.gif"/></div>
	</div>
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
			<li>
				<form method="post" th:action="@{/logout}">
					<button type="submit" class="btn btn-default navbar-btn">
						<span class="glyphicon glyphicon-log-out">Logout</span>
					</button>
				</form>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right" sec:authorize="isAnonymous()">
			<li><a href="/signup"><span
					class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			<li><a href="/login"><span
					class="glyphicon glyphicon-log-in"></span> Login</a></li>
		</ul>
		
	</div>	
</nav>
