<div th:fragment="addCast" class="container-fluid">
  <div class="row">

    <div class="main">

			<!-- Main Form -->
			<div class="login-form-1">		
				<form class="text-left" th:action="@{/cast}" th:object="${cast}" th:method="POST">

					<ul>
					    <li th:each="err : ${#fields.errors('all')}" th:text="${err}" />
					</ul>					
					<!-- <input type="hidden" th:field="*{accountId}"/>  -->
					<input type="hidden" th:field="*{story.id}" />

					<div class="login-form-main-message"></div>
					<div class="main-login-form">
						<div class="login-group">
							<div class="form-group">
								<label for="name" class="sr-only" required="true">Name</label>
								<input type="text" class="form-control" id="name" th:field="*{name}" placeholder="name" th:errorclass="fieldError"/>
							</div>
							<div class="form-group">
								<label for="gender" class="sr-only" required="true">Gender</label>
								<input type="text" class="form-control" id="gender" th:field="*{gender}" placeholder="gender" th:errorclass="fieldError"/>
							</div>
							<div class="form-group">
								<label for="role" class="sr-only" required="true">Role</label>
								<input type="text" class="form-control" id="role" th:field="*{role}" placeholder="role" th:errorclass="fieldError"/>
							</div>
							<div class="form-group">
								<label for="position" class="sr-only" required="true">Scene Number</label>
								<input type="text" class="form-control" id="position" th:field="*{position}" placeholder="position" th:errorclass="fieldError"/>
							</div>
							<div class="form-group">
								<label for="description" class="sr-only" required="true">Description</label>
								<input type="text" class="form-control" id="description" th:field="*{description}" placeholder="description" th:errorclass="fieldError"/>
							</div>
						</div>	
						<button type="submit" class="btn btn-info">Submit</button>
						<a th:href="@{/story/{id}(id=${storyId})}" class="btn btn-default">Cancel</a>
					</div>
				</form>
			</div>
			<!-- end:Main Form -->
		</div>
  </div>

</div>