<div th:fragment="addScene" class="container-fluid">
  <div class="row">

    <div class="main">

			<!-- Main Form -->
			<div class="login-form-1">		
				<form class="text-left" th:action="@{/scene}" th:object="${scene}" th:method="POST">

					<ul>
					    <li th:each="err : ${#fields.errors('all')}" th:text="${err}" />
					</ul>					
					<!-- <input type="hidden" th:field="*{accountId}"/>  -->
					<input type="hidden" th:field="*{story.id}"/>

					<div class="login-form-main-message"></div>
					<div class="main-login-form">
						<div class="login-group">
						<!-- 
							<div class="form-group">
								<label for="position" class="sr-only" required="true">Scene Number</label>
								<input type="text" class="form-control" id="position" th:field="*{position}" placeholder="scene number" th:errorclass="fieldError"/>
							</div>
						 -->
							<div class="form-group">
								<label for="text" class="sr-only" required="true">Text</label>
								<input type="text" class="form-control" id="text" th:field="*{text}" placeholder="text" th:errorclass="fieldError"/>
							</div>
						</div>	
						<button type="submit" class="btn btn-info">Submit</button>
						<a th:href="@{/story/{id}(id=${storyId})}" class="btn btn-default">Cancel</a>
					</div>
				</form>
			</div>
			<!-- end:Main Form -->
		</div>
  </div>

</div>