<div th:fragment="addUser" class="container-fluid">
  <div class="row">
  
    <div class="main">
	
	<!-- Main Form -->
	<div class="login-form-1">
		<form class="text-left" th:action="@{/users}" th:object="${userForm}" th:method="POST">
			<ul>
			    <li th:each="err : ${#fields.errors('all')}" th:text="${err}" />
			</ul>	
			
			<div class="login-form-main-message"></div>
			
			<div class="main-login-form">
				<div class="login-group">
					<!--
					<div class="form-group">
						<label for="reg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="reg_password" th:field="*{password}" placeholder="password"  autocomplete="off" th:errorclass="fieldError"/>
					</div>
					 
					<div class="form-group">
						<label for="reg_password_confirm" class="sr-only">Password Confirm</label>
						<input type="password" class="form-control" id="reg_password_confirm" th:field="*{passwordConfirm}" placeholder="confirm password"  autocomplete="off" th:errorclass="fieldError"/>
					</div>
					 -->
					
					<div class="form-group">
						<label for="reg_email" class="sr-only">Email</label>
						<input type="text" required="true" minlength="8" maxlength="32" class="form-control" id="reg_email" th:field="*{email}" placeholder="email" th:errorclass="fieldError"/>
					</div>
					<!-- 
					<div class="form-group">
						<label for="reg_firstname" class="sr-only">First Name</label>
						<input type="text" class="form-control" id="reg_firstname" th:field="*{firstName}" placeholder="first name"/>
					</div>
					<div class="form-group">
						<label for="reg_lastname" class="sr-only">Last Name</label>
						<input type="text" class="form-control" id="reg_lastname" th:field="*{lastName}" placeholder="last name"/>
					</div>	
					 -->					
				</div>
				
				<button type="submit" class="btn btn-info">Submit</button>
				<a href="/users/all" class="btn btn-default">Cancel</a>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->


    </div>
  </div>
  
</div>


