<div th:fragment="addStory" class="container-fluid">
  <div class="row">

    <div class="main">

			<!-- Main Form -->
			<div class="login-form-1">		
				<form class="text-left" th:action="@{/admin/story}" th:object="${story}" th:method="POST">

					<ul>
					    <li th:each="err : ${#fields.errors('all')}" th:text="${err}" />
					</ul>					
					<!-- <input type="hidden" th:field="*{accountId}"/>  -->

					<div class="login-form-main-message"></div>
					<div class="main-login-form">
						<div class="login-group">
							<div class="form-group">
								<label for="title" class="sr-only" required="true">Title</label>
								<input type="text" class="form-control" id="title" th:field="*{title}" placeholder="title" th:errorclass="fieldError"/>
							</div>
							<div class="form-group">
								<label for="synapsis" class="sr-only" required="true">Synapsis</label>
								<textarea rows="3" cols="8" class="form-control" id="synapsis" th:field="*{synapsis}" placeholder="synapsis" th:errorclass="fieldError">
								
								</textarea >
							</div>
							<div class="form-group">
								<label for="answer" class="sr-only">Answer</label>
								<textarea rows="3" cols="8" class="form-control" id="answer" th:field="*{answer}" placeholder="answer" th:errorclass="fieldError">
								</textarea>
							</div>
							<div class="form-group">
								<label for="video" class="sr-only" required="true">Video Link</label>
								<input type="text" class="form-control" id="video" th:field="*{video}" placeholder="video link" th:errorclass="fieldError"/>
							</div>	
							<div class="form-group">
								<label for="image" class="sr-only" required="true">Image Link</label>
								<input type="text" class="form-control" id="image" th:field="*{image}" placeholder="image link" th:errorclass="fieldError"/>
							</div>
							<div class="form-group">
								<label for="audio" class="sr-only" required="true">Audio Link</label>
								<input type="text" class="form-control" id="audio" th:field="*{audio}" placeholder="audio link" th:errorclass="fieldError"/>
							</div>
							<div class="form-group">
								<label for="size" class="sr-only">Number Of Characters</label>
								<input type="text" class="form-control" id="size" th:field="*{size}" placeholder="number of characters" th:errorclass="fieldError"/>
							</div>
						</div>	
						<button type="submit" class="btn btn-info">Submit</button>
						<a href="/admin/story/all" class="btn btn-default">Cancel</a>
					</div>
				</form>
			</div>
			<!-- end:Main Form -->
		</div>
  </div>

</div>