<div th:fragment="addScript" class="container-fluid">
  <div class="row">

    <div class="main">

			<!-- Main Form -->
			<div class="login-form-1">		
				<form class="text-left" th:action="@{/admin/script}" th:object="${script}" th:method="POST">

					<ul>
					    <li th:each="err : ${#fields.errors('all')}" th:text="${err}" />
					</ul>					
					<input class="form-control" type="hidden" th:value="${storyId}" id="storyId" name="storyId" />

					<div class="login-form-main-message"></div>
					<div class="main-login-form">
						<div class="login-group">
							<div class="form-group">
								<label for="scenes" class="sr-only" required="true">Scenes</label>
								<select th:field="*{scene.id}" th:remove="all-but-first">
				                	<option th:each="s : ${scenes}" th:value="${s.id}">Scene <span th:text="${s.position}"></span></option>
								</select>							
							</div>			
							<div class="form-group">
								<label for="scenes" class="sr-only" required="true">Casts</label>
								<select th:field="*{cast.id}" th:remove="all-but-first">
				                	<option th:each="c : ${casts}" th:value="${c.id}" th:text="${c.name}">Cast</option>
								</select>							
							</div>				
							<div class="form-group">
								<label for="text" class="sr-only" required="true">Text</label>
								<input type="text" class="form-control" id="text" th:field="*{text}" placeholder="text" th:errorclass="fieldError"/>
							</div>
							<div class="form-group">
								<label for="secret" class="sr-only" required="true">Secret</label>
								<input type="text" class="form-control" id="secret" th:field="*{secret}" placeholder="secret" th:errorclass="fieldError"/>
							</div>
							<div class="form-group">
								<label for="video" class="sr-only" required="true">Video Link</label>
								<input type="text" class="form-control" id="video" th:field="*{video}" placeholder="video link" th:errorclass="fieldError"/>
							</div>	
							<div class="form-group">
								<label for="image" class="sr-only" required="true">Image Link</label>
								<input type="text" class="form-control" id="image" th:field="*{image}" placeholder="image link" th:errorclass="fieldError"/>
							</div>
							<div class="form-group">
								<label for="audio" class="sr-only" required="true">Audio Link</label>
								<input type="text" class="form-control" id="audio" th:field="*{audio}" placeholder="audio link" th:errorclass="fieldError"/>
							</div>
						</div>	
						<div th:if="${!scenes.isEmpty() or !casts.isEmpty()}">
							<button type="submit" class="btn btn-info">Submit</button>
						</div>
						<div th:if="${scenes.isEmpty() and casts.isEmpty()}">
							<button type="submit"  disabled="disabled" class="btn btn-info">Submit</button>
						</div>
						<a th:href="@{/admin/story/{id}(id=${storyId})}" class="btn btn-default">Cancel</a>
					</div>
				</form>
			</div>
			<!-- end:Main Form -->
		</div>
  </div>

</div>