<!-- clues -->

<!doctype html>
<html lang="en">
    <head>
    	<title>Vega Clues LLC</title>
    	
    	<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<meta name="viewport" content="width=device-width, initial-scale=1" />    	
    	
    	<link rel='shortcut icon' type='image/x-icon' href='/assets/images/favicon.ico' />
		
		<!-- Opera Speed Dial Favicon -->
		  <link rel="icon" type="image/png" href="/assets/images/android-chrome-512x512.png" />
		
		<!-- For iPhone 4 Retina display: -->
		  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/apple-touch-icon-114x114-precomposed.png"/>
		
		<!-- For iPad: -->
		  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/apple-touch-icon-72x72-precomposed.png"/>
		
		<!-- For iPhone: -->
		  <link rel="apple-touch-icon-precomposed" href="/assets/images/apple-touch-icon-57x57-precomposed.png"/>    	
        	        
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />	        
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        
		<script type="text/javascript" src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
		<link rel="stylesheet" href="/assets/fancybox-master/dist/jquery.fancybox.min.css" />
		<script src="/assets/fancybox-master/dist/jquery.fancybox.min.js"></script>
        
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-101505063-1', 'auto');
		  ga('send', 'pageview');
		
		</script>
		
		 <style>
		 	.pre-scrollable {
				height: 120px;
			}
		 </style>
</head>
<body>
  	<div class="global_container_">
   		<div class="content">
    		<div class="clue_layer">
				<a href="/" class="btn_close"><img src="/assets/images/btn_close.png" alt="" width="55" height="55"/></a>
    			<h1 class="clue">Error</h1>
    			<div class="row-4 group">
					<div class="pre-scrollable">
						<p class="button-6 group" style="width:200px; left:40%"><span th:text="${message}"></span></p>
			        </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

