<!-- clues -->

<!doctype html>
<html lang="en">
    <head>
    	<title>Vega Clues LLC</title>
    	
    	<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<meta name="viewport" content="width=device-width, initial-scale=1" />    	
    	
    	<link rel='shortcut icon' type='image/x-icon' href='/assets/images/favicon.ico' />
		
		<!-- Opera Speed Dial Favicon -->
		  <link rel="icon" type="image/png" href="/assets/images/android-chrome-512x512.png" />
		
		<!-- For iPhone 4 Retina display: -->
		  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/apple-touch-icon-114x114-precomposed.png"/>
		
		<!-- For iPad: -->
		  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/apple-touch-icon-72x72-precomposed.png"/>
		
		<!-- For iPhone: -->
		  <link rel="apple-touch-icon-precomposed" href="/assets/images/apple-touch-icon-57x57-precomposed.png"/>    	
        	        
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />	        
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        
		<script type="text/javascript" src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
		<link rel="stylesheet" href="/assets/fancybox-master/dist/jquery.fancybox.min.css" />
		<script src="/assets/fancybox-master/dist/jquery.fancybox.min.js"></script>
        
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-101505063-1', 'auto');
		  ga('send', 'pageview');
		
		</script>

<script>
$( document ).ready(function() {
	console.log( "ready!" );

    
    var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
    var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);

    console.log(w);
    console.log(h);
    
    //$('.container').css({'background-size': w + 'px ' + h + 'px'});   
    $('body').css({ 'height': h });   
    //$('.game').css({ 'height': h });   
    //$('.menu').css({ 'height': h });
    $('.container').css({ 'height': h }); 
    
    $('body').css({ 'width': w });   
    $('.container').css({ 'width': w }); 
    //$('.game').css({ 'width': w });   
    //$('.menu').css({ 'width': w });      	
});
</script>
		
		 <style>
		 	.pre-scrollable {
				height: 400px;
			}
		 </style>
</head>
<body>
  <div class="clue_layer">
   <div class="header-2">
    <a href="/" class="btn_close-2"><img src="/assets/images/btn_close.png" alt="" width="55" height="54"/></a>
    <h1 class="title-2">Error</h1>
    <div class="left_right-2 group">
     <a href="#" class="left-2"><img src="/assets/images/space.png" alt="" width="44" height="63"/></a>
     <a href="#" class="right-2"><img src="/assets/images/space.png" alt="" width="44" height="63"/></a>
    </div>    
   </div>
   <p class="full_text_description pre-scrollable"><span th:text="${message}"></span></p>
  </div>
</body>
</html>

