<!-- /games/all -->
<!-- Shows all games -->

<!doctype html>
<html lang="en">
    <head>
    	<title>Vega Clues LLC</title>
    	
    	<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<meta name="viewport" content="width=device-width, initial-scale=1" />    	
    	
    	<link rel='shortcut icon' type='image/x-icon' href='/assets/images/favicon.ico' />
		
		<!-- Opera Speed Dial Favicon -->
		  <link rel="icon" type="image/png" href="/assets/images/android-chrome-512x512.png" />
		
		<!-- For iPhone 4 Retina display: -->
		  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/apple-touch-icon-114x114-precomposed.png"/>
		
		<!-- For iPad: -->
		  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/apple-touch-icon-72x72-precomposed.png"/>
		
		<!-- For iPhone: -->
		  <link rel="apple-touch-icon-precomposed" href="/assets/images/apple-touch-icon-57x57-precomposed.png"/>    	
        	
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />	
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

		<script type="text/javascript" src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
 
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-101505063-1', 'auto');
		  ga('send', 'pageview');
		
		</script>

<style>
.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.modal-content {
    height: 100%;
    min-height: 100%;
    height: auto;
    border-radius: 0;
}
</style>



<script th:inline="javascript">
/*<![CDATA[*/
    
    var listsize = [[${#lists.size(games)}]];
    
    console.log('listsize: ' + listsize);

    /*]]>*/
</script>


<script>



$( document ).ready(function() {
    console.log( "ready!" );

});


function prev() {
	var prev = parseInt($('#current').val());
	var current = parseInt($('#current').val());
	
	console.log('before prev ' + prev + ' current ' + current);
	
	if(prev == 1) {
		$('#current').val(1);
	}
	else {
		prev--;
		console.log(prev);
		$('#current').val(prev);
	}
	
	console.log('after prev ' + prev + ' current ' + current);
	
	$('#'+current).hide();
	$('#'+prev).show();
}

function next() {
	var next = parseInt($('#current').val());
	var current = parseInt($('#current').val());
	var listsize = parseInt($('#listsize').val());
	
	console.log('before next ' + next + ' current ' + current);
	
	if(next == listsize) {
		$('#current').val(listsize);
	}
	else {
		next++;
		console.log(next);
		$('#current').val(next);
	}
	
	console.log('after next ' + next + ' current ' + current);
	
	$('#'+current).hide();
	$('#'+next).show();
}
</script>

</head>

<body>

		<input type="hidden" id="current" value="1" />
       <input type="hidden" id="listsize" th:value="${#lists.size(games)}" />	
       
  <div class="global_container_">
   <div class="content">
    
    <div class="game_detail_layer">
     
     <a href="/" class="btn_close"><img src="/assets/images/btn_close.png" alt="" width="55" height="55"/></a>

     <div class="wrapper-6">
     
     <h1 class="playgame">Play Game</h1>

	<span th:each="game,iterStat : ${games}" th:class="${iterStat.odd}? 'odd'">
	
		<span th:id="${iterStat.count}" th:style="${iterStat.count} > 1 ? 'display: none;' : ''" th:class="${iterStat.count} == 1 ? 'active' : ''">
 

      <div class="select-5">
		       <div class="select_plate-holder">
		        <a th:href="@{/game/gamemenu/{gameId}(gameId=${game.id})}">More</a>
		       </div>	
		       
       			<img class="line-2" src="/assets/images/line.png" alt="" width="221" height="11"/>
      </div>

      <div class="left_right-4 group" style="z-index:1009;">
       <a href="javascript:  prev();" class="left-7"><img src="/assets/images/left.png" alt="" width="45" height="64"/></a>
       <a href="javascript:next();" class="right-7"><img src="/assets/images/right.png" alt="" width="44" height="63"/></a>
      </div>


      <div class="button-2">
       Player
      </div>

      <div class="text-2">
       <div class="col">
        <p class="text-3" th:text="${game.name}"></p>
        <p class="text-4">Requires <!-- <span th:text="${#lists.size(game.count)}"></span> --> Player</p>
        
       </div>
       <div class="tag-2">
       	<a th:href="@{/game/gamemenu/{gameId}(gameId=${game.id})}">More Detail</a>
       </div>
       <p class="text-5"><span th:if="${game.started != null}">Game Started On <span th:text="${#dates.format(game.started, 'MM-dd-yyyy')}"></span></span></p>
       <p class="text-6">Number Of Player is <span th:text="${#lists.size(game.emails)}"></span><br/> <span th:if="${game.done == true}">Game Over</span> </p>
       
								<span class="pre-scrollable">
									<ul class="players_list group" >
										<span th:each="email,iterStat : ${game.emails}" th:class="${iterStat.odd}? 'odd'">
											<li th:text="${email}"></li>
										</span>
									</ul>
								</span>   

     </div>
			</span>
		</span>
     
    </div>


     </div>
    </div>
    
   </div>

</body>

</html>
