<html>

	<head>
		<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet"/>

		<style>
			.centered {
  				position: fixed; /* or absolute */
  				top: 50%;
  				left: 50%;
				transform: translate(-50%, -50%);
			}

			img {
    				max-width: 100%;
    				height: auto;
    				width: auto\9; /* ie8 */
			}

			.skip {
				position: fixed;
				right: 10%;
				bottom: 10%;
				font-family: 'Gloria Hallelujah', cursive;
				text-decoration: none;				
			}
		</style>
	</head>
	
	<body>
		<img class="centered" src="/images/VEGA-CLUES-JULY-5-2017-VER-4.gif"/>
		<a href="/" class="skip">Skip</a>
	</body>

</html>
