<!-- menu -->

<!-- Default URL is / -->

<!doctype html>
<html lang="en">
    <head>
    	<title>Vega Clues LLC</title>
    	
    	<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<meta name="viewport" content="width=device-width, initial-scale=1" />    	
    	
    	<link rel='shortcut icon' type='image/x-icon' href='/assets/images/favicon.ico' />
		
		<!-- Opera Speed Dial Favicon -->
		  <link rel="icon" type="image/png" href="/assets/images/android-chrome-512x512.png" />
		
		<!-- For iPhone 4 Retina display: -->
		  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/apple-touch-icon-114x114-precomposed.png"/>
		
		<!-- For iPad: -->
		  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/apple-touch-icon-72x72-precomposed.png"/>
		
		<!-- For iPhone: -->
		  <link rel="apple-touch-icon-precomposed" href="/assets/images/apple-touch-icon-57x57-precomposed.png"/>    	
        	    	
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />	
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        
		<script type="text/javascript" src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="/js/typed_menu.js" type="text/javascript"></script>
        
        <script src="/assets/js/jquery-ui.js" type="text/javascript"></script>
        
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-101505063-1', 'auto');
		  ga('send', 'pageview');
		
		</script>

<script th:inline="javascript">
/*<![CDATA[*/

    var gameId = [[${game == null ? '' : game.id}]];
    
    if(!isEmpty(gameId)) {
    	storyId = [[${game == null ? '' : game.storyId}]];
    	console.log('storyId ' + storyId);
    	
        var players = [[${game == null || game.players == null ? 0 : #lists.size(game.players)}]];
        
        console.log('players ' + players);
        
        var gameCast = [[${game == null || game.players == null ? 0 : #lists.size(game.gameCast)}]];
        
        console.log('gameCast ' + gameCast);    	
    }

    console.log('gameId ' + gameId);
    
	csrfParam = [[${_csrf == null ? '' : _csrf.parameterName}]];
	csrfToken = [[${_csrf == null ? '' : _csrf.token}]];   

    /*]]>*/


function isEmpty(str) {
    return (!str || 0 === str.length);
}


$( document ).ready(function() {
    console.log( "ready!" );

    
    var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
    var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);

    console.log(w);
    console.log(h);

    $('body').css({ 'height': h });   
    $('body').css({ 'width': w });   
    
    
	$(function() {
		/*
		if(!isEmpty(gameId)) {
			console.log('making Story inactive and game active');
			$(".menu li:first()").removeClass("inactive");
			$(".menu li:nth(1)").addClass("inactive");
			
		}
		else {
			console.log('making game inactive and story active');
			$(".menu li:first()").addClass("inactive");
			$(".menu li:nth(1)").removeClass("inactice");
		}
		*/
		
		$('.button-4').on('click', function() {
			
		});
		
		if(!isEmpty(gameId)) {
	  		$(".menu li:first()").on("click",function() {
    			console.log( "clicked!" );
    			
    			$('.menu-button').hide();
    			$('.back-button').show();
   				$('.menu').hide();
				$('.game').show();
	  		});
		}
		else {
	  		$(".menu li:nth(1)").on("click",function() {
	    			console.log( "second!" );
	    			
	    			window.location = "/videos";
	    			
	    			/*
	    			$.ajax({url: "/logout", success: function(result){
	    		        $("#div1").html(result);
	    		    }});
	    			*/
	  		});
		}

  		$(".menu li:nth(2)").on("click",function() {
    			console.log( "3rd!" );
    			
    			window.location = "/login?logout";
  		});

		$(".game li:first()").on("click",function() {
			/*<![CDATA[*/if(gameId != null) {/*]]>*/
				window.location = "/game/cast/" + gameId;
			}
		});

		$(".game li:nth(1)").on("click",function() {
			// show scripts only after all characters are chosen
			/*<![CDATA[*/if(players == gameCast) {/*]]>*/
				console.log('show scripts');
				window.location = "/game/script/" + gameId;
			}
			
			// to be deleted
			window.location = "/game/script/" + gameId;
		});
		
		$(".game li:nth(2)").on("click",function() {
			// show clues only if all players are chosen
			/*<![CDATA[*/if(players == gameCast) {/*]]>*/
				console.log('show clues');
				window.location = "/game/clue/" + gameId;
			}
			
			// to be deleted
			window.location = "/game/clue/" + gameId;
		});

		$(".game li:nth(3)").on("click",function() {
			console.log('guess murderer');
			window.location = "/game/guess/" + gameId;
		});
		
		
		
		$(".game li:nth(4)").on("click",function() {
			// show clues only if all players are chosen
			/*<![CDATA[*/if(gameId != null) {/*]]>*/
				console.log('end game');
				logoutClick.facebookLogout();

				window.location = "/game/end/" + gameId;
			}
			
			// to be deleted
			window.location = "/game/end/" + gameId;
		});		
		
	});

	$('.menu-button').on('click', function() {
		console.log("menu-button");
		
		if(gameId != null) {
			$('.menu').show();
		}
	});

	$('.back-button').on('click', function() {
		console.log("back-button");
		$('.menu-button').show();
		$('.menu').show();
		$('.game').hide();
		$('.back-button').hide();
	});
	
    $('.description').on('click', function() {
    	$('.description').hide();
    });	

});

function logout() {
	var jqxhr = $.post( "/logout", {_csrf: csrfToken}, function() {
		  console.log( "success" );
		}).done(function() {
		    console.log( "second success" );
		}).fail(function() {
			console.log( "error" );
		}).always(function() {
			console.log( "finished" );
		});
		 
		window.location = '/';
		
		// Perform other work here ...
		 
		// Set another completion function for the request above
		jqxhr.always(function() {
			console.log( "second finished" );
	});
}


function content_type_short()
{
	  console.log('short typed string content_type_short');
	  
  Typed.new(".typed", 
  {
      stringsElement: document.getElementById('describe_site_short_typed_strings'),
      typeSpeed: 30,
      backDelay: 2000,
      loop: false,
      contentType: 'html', // or text
      // defaults to null for infinite loop
      loopCount: null
  });
}
function story_phrase()
{
	  console.log('short typed string story_phrase');
	  
  Typed.new(".typed_phrase", 
  {
      stringsElement: document.getElementById('describe_site_phrase_typed_strings'),
      typeSpeed: 70,
      backDelay: 2000,
      loop: false,
      contentType: 'html', // or text
      // defaults to null for infinite loop
      loopCount: null,
      callback: function(){ foo(); }
      //resetCallback: function() { newTyped(); }
  });
}

function foo()
{
	//console.log('foo is called');
  jQuery("#describe_about_site_startup").css("top",'550%');
  jQuery("#describe_about_site_startup").css("left","-100%");
}

jQuery(document).ready(function()
{ 
	jQuery(".title-9").hover(function () 
  {
      jQuery(this).find(".describe_site").fadeIn(2000);
      content_type_short();
  },function () 
  {
      jQuery(this).find(".describe_site").hide();
      jQuery(this).find(".describe_site").css("right",'30%');
  });       		
	
});

</script>

<script src="/js/social.js" type="text/javascript"></script>

		
<style>
.col-4 {
    padding: 120px 0 106px;
}

.main_menu_select_glow {
    left: 45%;
    top: 2%;
}

.menu_item li {
	color:white;
}

.wrapper-6 {
    margin: 76px auto 0;
    height: 348px;
}

.active {
	background: url(/assets/images/main_menu_select_glow.png) no-repeat;
	background-size: 202px 55px;
	z-index: 1001;
	width: 200px;
}

.button-4 {
	color:white;
	top: -20px;
}

.button-4 {
	top: -20px;
}

.menu-item p {
		text-shadow: 0 0 6px #FF0000;
		color: white;
		font-weight: bold;
}
</style>


</head>

<body>
	<div id="fb-root"></div>

  <section class="menu_layer">
   <div class="col-4">
    <h1 class="title-9 describe_site">Menu</h1>
    <div class="wrapper-6">
     <ul class="button-4 group">
      <li th:switch="${gameCount != null and gameCount > 0}">
      	<p class="menu_item" th:case="true"><a style="text-shadow: 0 0 6px #FFD700;text-decoration:none;" href="/game/all">Game</a></p>
      	<p class="menu_item inactive" th:case="false" style="text-shadow: 0 0 6px #FFD700;">Game</p>
      </li>
      <li><p class="menu_item"><a style="text-shadow: 0 0 6px #FFD700;text-decoration:none;" href="/videos">Story</a></p></li>
      <li><p class="menu_item"><a style="text-shadow: 0 0 6px #FFD700;text-decoration:none;" href="/assets/html/help.html">Help</a></p></li>
      <li><p class="menu_item"><a style="text-shadow: 0 0 6px #FFD700;text-decoration:none;" href="javascript: logout();">Logout</a></p></li>
     </ul>
    </div>
   </div>
  </section>

	<span class="typed" style="position:absolute;top:40%;left:40%;font-size:8px;color:grey;"></span>

</body>

</html>
