<!-- scripts -->

<!doctype html>
<html lang="en">
    <head>
    	<title>Vega Clues LLC</title>
    	
    	<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<meta name="viewport" content="width=device-width, initial-scale=1" />    	
    	
    	<link rel='shortcut icon' type='image/x-icon' href='/assets/images/favicon.ico' />
		
		<!-- Opera Speed Dial Favicon -->
		  <link rel="icon" type="image/png" href="/assets/images/android-chrome-512x512.png" />
		
		<!-- For iPhone 4 Retina display: -->
		  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/apple-touch-icon-114x114-precomposed.png"/>
		
		<!-- For iPad: -->
		  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/apple-touch-icon-72x72-precomposed.png"/>
		
		<!-- For iPhone: -->
		  <link rel="apple-touch-icon-precomposed" href="/assets/images/apple-touch-icon-57x57-precomposed.png"/>    	
        	        
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />	        
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />

		<script type="text/javascript" src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-101505063-1', 'auto');
		  ga('send', 'pageview');
		
		</script>
		
		<style>

.text_description {
	padding-top: 1px;
}

.pre-scrollable, .text_description span {
	left: 9.5px;
	margin: 32px auto 0;
	position: relative;
	width: 247px;
	color: #fafaf8;
	line-height: 1.2;
	height: 200px;
}		

.pre-scrollable {
	color: white;
	overflow-x: auto;
}

		</style>

</head>

<body>

  <div class="global_container_">
   <div class="content">
    <div class="script_layer group">
     <a href="/game/all" class="btn_close"><img src="/assets/images/btn_close.png" alt="" width="55" height="55"/></a>
     <div class="wrapper-3">
      <img class="suspect_001_faded" src="/assets/images/suspect_001_faded.png" alt="" width="122" height="232"/>
      <img class="suspect_003_faded" src="/assets/images/suspect_003_faded.png" alt="" width="137" height="236"/>
      <div class="col-5">
       <h1 class="script">Script</h1>
       <div class="col-11">
       		<span  th:switch="${player == null || player.script == null}">
				<!--  Player has selected a character -->
				<span th:case="false">
				
					<p class="name_title" th:text="${player.castName}"></p>
					
					<!-- The script -->
					<div class="pre-scrollable">
					<p class="text_description">
					<span th:utext="${player.script == null ? '' : player.script.text}">
					</span>
					
					</p>
					</div>
					
					<!-- The Secret -->
			       	<div id="secret" class="description_popup" style="display:none">
			       		<!-- Close -->
			       		<a href="#" onclick="$('#secret').hide();" class="btn_close"><img src="/assets/images/btn_close.png" alt="" width="55" height="55"/></a>
			       		<!-- Secret -->
			       		<div class="pre-scrollable"><p class="description_popup_text"><span th:utext="${player.script == null ? '' : player.script.secret}"></span></p></div>
			       	</div> 
				</span>
			
				<!--  Player has not selected a character -->
				<span th:case="true">
					<div class="pre-scrollable" style="height: 200px;">
					<p class="text_description">
						Please select your character
					</p>
					</div>
				</span>
			</span>
			
		        <!-- footer -->
		        <div class="button">
					<a href="#" onclick="$('#secret').show();" class="btn_show_more"><img src="/assets/images/btn_show_more.png" alt="" width="47" height="42"/></a>
					<div class="select" th:switch="${player.done}">
						<span th:case="false">
							<a th:href="@{/game/done/{gameId}(gameId=${player.game.id})}">
		             	 			Done
							</a>
						</span>
						<span th:case="true">
							<a href=""></a>
						</span>
					</div>   
		        </div>
			</div><!-- col-11 -->
       </div><!-- end col-5 -->
      </div>
     </div>
    </div>    
   </div>
</body>

</html>
