@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}



/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
	display: block;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

a {
	color: white;
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
	outline: 0;
}

input {
	border-width: 0;
}

em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

sup {
	vertical-align: text-top;
	font-size: 58.3%; /*Corresponds to Photoshop's font size glyph transformation*/
}

sub {
	vertical-align: text-bottom;
	font-size: 58.3%; /*Corresponds to Photoshop's font size glyph transformation*/
}

img,
embed,
object,
video {
	max-width: 100%;
}

.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1; /* ie 6/7 */
}

.no-space-between-inline-blocks {
	letter-spacing: -0.31em; /* webkit */
	*letter-spacing: normal; /* reset IE < 8 */
	word-spacing: -0.43em; /* IE < 8 && gecko */
}

/* restore spacing on inner elements */
.no-space-between-inline-blocks > * {
	letter-spacing: normal;
	word-spacing: normal;
}

.displace {
	position: absolute;
	left: -5000px;
}

body {
	color: #000000;
	font-family: MyriadPro, serif;
	font-size: 24.40885px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0;
	text-decoration: none;
}
.global_container_ {
	float: none;
	height: auto;
	margin: 0 auto;
	position: relative;
	width: 375px;
	background: url(/assets/images/wall_up_logo.png) no-repeat;
}
.content {
	height: 640px;
	margin: 0 auto;
	position: relative;
	width: 375px;
}
.clue_layer {
	left: 50%;
	min-height: 576px;
	position: absolute;
	top: 64px;
	width: 375px;
	background: url(/assets/images/curtain.png) no-repeat 0 bottom;
	margin-left: -187.5px;
}
.btn_close {
	display: block;
	left: 146px;
	margin: 0 auto;
	position: relative;
	width: 55px;
}
a.btn_close img {
	display: block;
}
.clue {
	margin: 23px 0 0;
	font-family: Deneane, serif;
	font-size: 36.57143px;
	font-weight: normal;
	text-align: center;
}
.row-4 {
	margin: 72px auto 0;
	position: relative;
	width: 372px;
}
.row-4 > * {
	float: left;
	margin: 0 13px 0 0;
}
.row-4 > *:last-child {
	margin-right: 0 !important;
}
.left {
	margin-top: 112px !important;
}
a.left img {
	display: block;
}
.full_text_description, .pre-scrollable {
	width: 257px;
	color: #fafaf8;
	line-height: 1.2;
	font-size: 14px;
}
.right {
	margin-top: 113px !important;
}
a.right img {
	display: block;
}
.script_layer {
	left: 50%;
	position: absolute;
	top: 64px;
	width: 375px;
	margin-left: -187.5px;
}
.btn_close-2 {
	display: block;
	left: 146px;
	margin: 0 auto;
	position: relative;
	width: 55px;
}
a.btn_close-2 img {
	display: block;
}
.wrapper-3 {
	height: 511px;
	margin: 10px 0 0;
	position: relative;
	width: 375px;
}
.suspect_001_faded {
	left: 50%;
	position: absolute;
	top: 119px;
	margin-left: 65.5px;
}
.suspect_003_faded {
	left: 50%;
	position: absolute;
	top: 119px;
	margin-left: -187.5px;
}
.col-5 {
	left: 50%;
	min-height: 492px;
	//padding: 10px 53px 9px;
	position: absolute;
	top: 0;
	width: 375px;
	background: url(/assets/images/curtain.png) no-repeat;
	margin-left: -187.5px;
}
.script {
	font-family: Deneane, serif;
	font-size: 36.57143px;
	font-weight: normal;
	text-align: center;
}
.col-11 {
	margin: 31px auto 0;
	min-height: 369px;
	padding: 52px 0 0;
	position: relative;
	width: 266px;
	background: url(/assets/images/curtain_plate.png) no-repeat 30px 0;
}
.name_title {
	font-family: Deneane, serif;
	font-size: 22.85714px;
	text-align: center;
}
.text_description {
	left: 9.5px;
	margin: 32px auto 0;
	position: relative;
	width: 247px;
	color: #fafaf8;
	line-height: 1.2;
}
.button {
	margin: 5px 0 0;
	position: relative;
	width: 241px;
}
.btn_show_more {
	display: block;
	position: relative;
}
a.btn_show_more img {
	display: block;
}
.select {
	left: 10px;
	margin: -22px auto 0;
	min-height: 50px;
	padding: 6px 5px 15px 0;
	position: relative;
	width: 216px;
	background: url(/assets/images/select_plate.png) no-repeat;
	font-family: Deneane, serif;
	font-size: 27.42857px;
	text-align: center;
	z-index:1009;
}
.announcement_layer {
	left: 50%;
	position: absolute;
	top: 64px;
	width: 375px;
	margin-left: -187.5px;
}
.btn_close-3 {
	display: block;
	left: 146px;
	margin: 0 auto;
	position: relative;
	width: 55px;
}
a.btn_close-3 img {
	display: block;
}
.wrapper-4 {
	height: 511px;
	margin: 10px 0 0;
	position: relative;
	width: 375px;
}
.suspect_001_faded-2 {
	left: 50%;
	position: absolute;
	top: 41px;
	margin-left: 65.5px;
}
.suspect_003_faded-2 {
	left: 50%;
	position: absolute;
	top: 38px;
	margin-left: -187.5px;
}
.col-6 {
	left: 50%;
	min-height: 491px;
	padding: 10px 0;
	position: absolute;
	top: 0;
	width: 375px;
	background: url(/assets/images/curtain.png) no-repeat;
	margin-left: -187.5px;
}
.script-2 {
	font-family: Deneane, serif;
	font-size: 36.57143px;
	font-weight: normal;
	text-align: center;
}
.col-14 {
	margin: 31px auto 0;
	min-height: 293px;
	padding: 52px 0 0;
	position: relative;
	width: 372px;
	background: url(/assets/images/curtain_plate.png) no-repeat 83px 0;
}
.name_title-2 {
	font-family: Deneane, serif;
	font-size: 22.85714px;
	text-align: center;
}
.row-5 {
	margin: 32px 0 0;
	position: relative;
}
.left-2 {
	float: left;
	margin: 44px 0 0;
}
.text_description-2 {
	float: left;
	margin: 0 0 0 27px;
	width: 247px;
	color: #fafaf8;
	line-height: 1.2;
}
.right-2 {
	float: left;
	margin: 45px 0 0 9px;
}
a.right-2 img {
	display: block;
}
.story_layer {
	left: 50%;
	min-height: 576px;
	position: absolute;
	//top: 64px;
	width: 375px;
	z-index: 0;
	background: url(/assets/images/bg-merged.png) no-repeat 0 bottom;
	margin-left: -187.5px;
}
.btn_close-4 {
	display: block;
	left: 146px;
	margin: 0 auto;
	position: relative;
	width: 55px;
	z-index: 56;
}
a.btn_close-4 img {
	display: block;
}
.story {
	margin: 20px 0 0;
	position: relative;
	z-index: 60;
	font-family: Deneane, serif;
	font-size: 36.57143px;
	font-weight: normal;
	text-align: center;
}
.title {
	margin: 65px auto 0;
	position: relative;
	width: 137px;
	z-index: 58;
	color: #020202;
	line-height: 1.2;
}
.row-6 {
	margin: 14px auto 0;
	position: relative;
	width: 372px;
	z-index: 53;
}
.left-3 {
	float: left;
	margin: 44px 0 0;
}
a.left-3 img {
	display: block;
}
.text_description-3 {
	float: left;
	margin: 0 0 0 27px;
	width: 247px;
	color: #fafaf8;
	line-height: 1.2;
}
.right-3 {
	float: left;
	margin: 45px 0 0 9px;
}
a.right-3 img {
	display: block;
}
.btn_show_story {
	display: block;
	position: relative;
}
a.btn_show_story img {
	display: block;
}

.select-2 {
	margin: -22px auto 0;
	min-height: 30px;
	padding: 6px 5px 15px 0;
	position: relative;
	width: 216px;
	z-index: 48;
	background: url(/assets/images/select_plate.png) no-repeat;
	font-family: Deneane, serif;
	font-size: 27.42857px;
	text-align: center;
}
.character_layer {
	left: 50%;
	position: absolute;
	top: 64px;
	width: 375px;
	margin-left: -187.5px;
}
.btn_close-5 {
	display: block;
	left: 146px;
	margin: 0 auto;
	position: relative;
	width: 55px;
}
a.btn_close-5 img {
	display: block;
}
.curtain-holder {
	height: 511px;
	margin: 10px 0 0;
	position: relative;
	width: 375px;
	background: url(/assets/images/curtain_5.png) no-repeat;
}
.character {
	left: 60%;
	position: absolute;
	top: 200px;
	margin-left: -169.5px;
	//z-index: 999;
}
.tag {
	left: 50%;
	margin: 0 0 0 -63.5px;
	min-height: 20px;
	padding: 15px 0 17px;
	position: absolute;
	top: 167px;
	width: 128px;
	background: url(/assets/images/tag_plate.png) no-repeat;
	font-family: Deneane, serif;
	font-size: 18.28571px;
	text-align: center;
}
.curtain_plate {
	left: 50%;
	position: absolute;
	top: 81px;
	margin-left: -101.5px;
}
.character_info_layer {
	left: 50%;
	position: absolute;
	top: 12px;
	width: 367px;
	margin-left: -181.5px;
}
.text_after_character_selection {
	margin: 0 auto;
	position: relative;
	width: 175px;
}
.character-2 {
	font-family: Deneane, serif;
	font-size: 36.57143px;
	font-weight: normal;
}
.kim2kim-gmail-com {
	margin: 71px 0 0;
	font-family: Deneane, serif;
	font-size: 13.71429px;
	font-weight: normal;
	text-align: center;
}
.is-holly-harrison {
	margin: 10px 0 0 17px;
	font-family: Deneane, serif;
	font-size: 18.28571px;
	font-weight: normal;
}
.left_right {
	margin: 71px 0 0;
	position: relative;
}
.left-4 {
	float: left;
	margin: 0 291px 0 0;
}
a.left-4 img {
	display: block;
}
.right-4 {
	float: left;
}
a.right-4 img {
	display: block;
}
.done_btn {
	display: block;
	left: 102px;
	margin: 130px auto 0;
	position: relative;
	width: 55px;
}
a.done_btn img {
	display: block;
}
.murder_select_layer {
	left: 50%;
	position: absolute;
	top: 12px;
	width: 367px;
	margin-left: -181.5px;
}
.text_after_character_selection-2 {
	margin: 0 auto;
	position: relative;
	width: 175px;
}
.character-3 {
	font-family: Deneane, serif;
	font-size: 36.57143px;
	font-weight: normal;
}
.email-tag {
	margin: 71px 0 0;
	font-family: Deneane, serif;
	font-size: 13.71429px;
	font-weight: normal;
	text-align: center;
}
.is-holly-harrison-2 {
	margin: 10px 0 0 17px;
	font-family: Deneane, serif;
	font-size: 18.28571px;
	font-weight: normal;
}
.wrapper-15 {
	height: 297px;
	margin: 28px 0 0;
	position: relative;
	width: 367px;
}
.select-3 {
	left: 50%;
	min-height: 30px;
	padding: 6px 17px;
	position: absolute;
	top: 255px;
	width: 100%;
	background: url(/assets/images/select_plate_3.png) no-repeat;
	margin-left: -66.5px;
	z-index: 1002;
}

	
.select_text-3 {
	font-family: Deneane, serif;
	font-size: 27.42857px;
	padding: 0 10px;
}
.left_right-2 {
	left: 50%;
	position: absolute;
	top: 43px;
	width: 367px;
	margin-left: -183.5px;
}
.left-5 {
	float: left;
}
a.left-5 img {
	display: block;
}
.right-5 {
	float: right;
}
a.right-5 img {
	display: block;
}
.murderer_icon {
	left: 50%;
	position: absolute;
	top: 227px;
	margin-left: 72.5px;
}
.dagger {
	left: 50%;
	position: absolute;
	top: 0;
	margin-left: -130.5px;
}
.character_select_layer {
	height: 481px;
	left: 50%;
	position: absolute;
	top: 12px;
	width: 367px;
	margin-left: -181.5px;
}
.select-4 {
	left: 50%;
	min-height: 30px;
	padding: 6px 17px;
	position: absolute;
	top: 439px;
	width: 100%;
	background: url(/assets/images/select_plate_3.png) no-repeat;
	margin-left: -66.5px;
	z-index: 1002;
}
.select_text-4 {
	font-family: Deneane, serif;
	font-size: 27.42857px;
}
.left_right-3 {
	left: 50%;
	position: absolute;
	top: 327px;
	width: 367px;
	margin-left: -183.5px;
	z-index: 1000;
}
.left-6 {
	float: left;
}
a.left-6 img {
	display: block;
}
.right-6 {
	float: right;
}
a.right-6 img {
	display: block;
}
.text {
	left: 50%;
	position: absolute;
	top: 0;
	width: 175px;
	margin-left: -85.5px;
}
.character-4 {
	font-family: Deneane, serif;
	font-size: 36.57143px;
	font-weight: normal;
	margin-top: 0px;
}
.name_title-3 {
	margin: 83px 0 0 13px;
	font-family: Deneane, serif;
	font-size: 22.85714px;
	font-weight: normal;
	white-space: nowrap;
}
.description_popup {
	left: 50%;
	min-height: 369px;
	padding: 0 5px;
	position: absolute;
	top: 50px;
	width: 305px;
	background: url(/assets/images/description_paper.png) no-repeat 0 bottom;
	margin-left: -161.5px;
	z-index: 1000;
}
.btn_close-6 {
	display: block;
	left: 125px;
	margin: 0 auto;
	position: relative;
	width: 55px;
}
a.btn_close-6 img {
	display: block;
}
.description_popup_text {
	margin: 4px auto 0;
	width: 238px;
	line-height: 1.2;
	color:white;
}
.line {
	left: 50%;
	position: absolute;
	top: 491px;
	margin-left: -111.5px;
}
.game_detail_layer {
	left: 50%;
	min-height: 576px;
	position: absolute;
	top: 64px;
	width: 375px;
	background: url(/assets/images/curtain.png) no-repeat 0 bottom;
	margin-left: -187.5px;
}
.btn_close-7 {
	display: block;
	left: 146px;
	margin: 0 auto;
	position: relative;
	width: 55px;
}
a.btn_close-7 img {
	display: block;
}
.wrapper-6 {
	height: 511px;
	margin: 10px 0 0;
	position: relative;
	width: 375px;
}
.select-5 {
	left: 50%;
	position: absolute;
	top: 451px;
	width: 221px;
	z-index: 0;
	margin-left: -111.5px;
}
.select_plate-holder {
	margin: 0 auto;
	min-height: 30px;
	overflow: hidden;
	padding: 6px 17px;
	position: relative;
	width: 130px;
	z-index: 125;
	background: url(/assets/images/select_plate_3.png) no-repeat;
	font-family: Deneane, serif;
	font-size: 27.42857px;
	text-align: center;
}
.line-2 {
	display: block;
	margin: -2px 0 0;
	position: relative;
	z-index: 124;
}
.left_right-4 {
	left: 50%;
	position: absolute;
	top: 235px;
	width: 372px;
	margin-left: -184.5px;
}
.left-7 {
	float: left;
}
a.left-7 img {
	display: block;
}
.right-7 {
	float: right;
	margin: 1px 0 0;
}
a.right-7 img {
	display: block;
}
.button-2 {
	left: 50%;
	margin: 0 0 0 -117.5px;
	min-height: 43px;
	padding: 5px 0 7px 6px;
	position: absolute;
	top: 276px;
	width: 227px;
	background: url(/assets/images/player_glow.png) no-repeat;
	font-family: Deneane, serif;
	font-size: 38.75742px;
	text-align: center;
}
.text-2 {
	left: 50%;
	position: absolute;
	top: 81px;
	width: 206px;
	z-index: 0;
	margin-left: -101.5px;
}
.col {
	min-height: 49px;
	overflow: hidden;
	padding: 38px 15px 37px;
	position: relative;
	width: 176px;
	z-index: 141;
	background: url(/assets/images/curtain_plate.png) no-repeat;
}
.text-3 {
	font-family: Deneane, serif;
	font-size: 18.28571px;
	text-align: center;
	white-space: nowrap;
}
.text-4 {
	margin: 8px 0 0;
	font-family: Deneane, serif;
	font-size: 18.28571px;
	text-align: center;
	white-space: nowrap;
}
.tag-2 {
	margin: -50px auto 0;
	min-height: 20px;
	overflow: hidden;
	padding: 15px 0 17px;
	position: relative;
	width: 128px;
	z-index: 138;
	background: url(/assets/images/tag_plate.png) no-repeat;
	font-family: Deneane, serif;
	font-size: 18.28571px;
	text-align: center;
}
.text-5 {
	padding-top:10px;
	margin: -8px 26px 0;
	position: relative;
	z-index: 151;
	color: white;
	font-size: 10.66667px;
}
.text-6 {
	margin: 5px 0 0;
	position: relative;
	z-index: 150;
	font-family: Deneane, serif;
	font-size: 10.66667px;
	text-align: center;
	color:white;
}
.players_list {
	margin: 70px auto 0;
	position: relative;
	width: 124px;
	z-index: 143;
}
.players_list li {
	clear: both;
	float: left;
}
.players_list li:last-child {
	padding-bottom: 0;
}
.text-7 {
	font-family: Deneane, serif;
	font-size: 13.71429px;
}
.text-8 {
	font-family: Deneane, serif;
	font-size: 13.71429px;
}
.text-9 {
	font-family: Deneane, serif;
	font-size: 13.71429px;
}
.text-10 {
	font-family: Deneane, serif;
	font-size: 13.71429px;
}
.text-11 {
	font-family: Deneane, serif;
	font-size: 13.71429px;
}
.text-12 {
	font-family: Deneane, serif;
	font-size: 13.71429px;
}
.playgame {
	left: 50%;
	position: absolute;
	//top: 16px;
	font-family: Deneane, serif;
	font-size: 27.42857px;
	font-weight: normal;
	margin-left: -64.5px;
}
.game_form_layer {
	left: 50%;
	min-height: 479px;
	padding: 0px 51px;
	position: absolute;
	top: 0;
	width: 373px;
	z-index: 0;
	background: url(/assets/images/curtain.png) no-repeat;
	margin-left: -187.5px;
}
.play-game {
	position: relative;
	z-index: 188;
	font-family: Deneane, serif;
	font-size: 27.42857px;
	font-weight: normal;
	text-align: center;
}
.col-2 {
	margin: 34px auto 0;
	min-height: 49px;
	overflow: hidden;
	padding: 18px 15px 37px;
	position: relative;
	width: 176px;
	z-index: 169;
	background: url(/assets/images/curtain_plate.png) no-repeat;
}
.murder-she-wrote {
	font-family: Deneane, serif;
	font-size: 18.28571px;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
}
.requires-1-player {
	margin: 8px 0 0;
	font-family: Deneane, serif;
	font-size: 18.28571px;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
}
.tag-3 {
	margin: -38px auto 0;
	min-height: 20px;
	overflow: hidden;
	padding: 15px 0 17px;
	position: relative;
	width: 128px;
	z-index: 165;
	background: url(/assets/images/tag_plate.png) no-repeat;
	font-family: Deneane, serif;
	font-size: 18.28571px;
	font-weight: normal;
	text-align: center;
}
.wrapper {
	height: 112px;
	margin: -14px 0 0;
	position: relative;
	width: 261px;
	z-index: 171;
}
.text_area_fb_friends {
	left: 50%;
	position: absolute;
	top: 28px;
	margin-left: -118.5px;
}
.fb_friends_btn {
	left: 50%;
	position: absolute;
	top: 0;
	margin-left: -130.5px;
}
a.fb_friends_btn img {
	display: block;
}
.select_game_menu_glow {
	left: 50%;
	position: absolute;
	top: 19px;
	margin-left: -107.5px;
}
.facebook_friends_list {
	left: 50%;
	position: absolute;
	top: 40px;
	width: 124px;
	margin-left: -52.5px;
}
.facebook_friends_list li {
	clear: both;
	float: left;
	padding-bottom: 3.5px;
}
.facebook_friends_list li:last-child {
	padding-bottom: 0;
}
.text-13 {
	font-family: Deneane, serif;
	font-size: 13.71429px;
}
.text-14 {
	font-family: Deneane, serif;
	font-size: 13.71429px;
}
.text-15 {
	font-family: Deneane, serif;
	font-size: 13.71429px;
}
.invite_friend_text_area-holder {
	margin: 0 auto;
	padding: 18px 0 19px;
	position: relative;
	width: 249px;
	z-index: 170;
	background: url(/assets/images/invite_friend_text_area.png) no-repeat;
}
.invite_list {
	left: 3.5px;
	margin: 0 auto;
	position: relative;
	width: 124px;
}
.invite_list li {
	clear: both;
	float: left;
	padding-bottom: 5.333333px;
}
.invite_list li:last-child {
	padding-bottom: 0;
}
.text-16 {
	font-family: Deneane, serif;
	font-size: 13.71429px;
}
.text-17 {
	font-family: Deneane, serif;
	font-size: 13.71429px;
}
.text-18 {
	font-family: Deneane, serif;
	font-size: 13.71429px;
}
.text-19 {
	font-family: Deneane, serif;
	font-size: 13.71429px;
}
.button-3 {
	display: table;
	margin: 0 auto;
	position: relative;
	z-index: 161;
}
.submit {
	float: left;
	margin: 0 68px 0 1px;
	font-family: Deneane, serif;
	font-size: 27.42857px;
	color: white;
}
.cancle {
	float: left;
	margin: 3px 0 0;
	font-family: Deneane, serif;
	font-size: 27.42857px;
}
.announcement_form_layer {
	left: 50%;
	min-height: 479px;
	padding: 16px 54px;
	position: absolute;
	top: 0;
	width: 267px;
	z-index: 0;
	background: url(/assets/images/curtain.png) no-repeat;
	margin-left: -187.5px;
}
.announcement_title {
	position: relative;
	z-index: 208;
	font-family: Deneane, serif;
	font-size: 27.42857px;
	font-weight: normal;
	text-align: center;
}
.curtain_plate-holder {
	margin: 34px auto 0;
	min-height: 26px;
	overflow: hidden;
	padding: 52px 0 46px;
	position: relative;
	width: 206px;
	z-index: 201;
	background: url(/assets/images/curtain_plate.png) no-repeat;
	font-family: Deneane, serif;
	font-size: 22.85714px;
	font-weight: normal;
	text-align: center;
}
.tag-4 {
	margin: -38px auto 0;
	min-height: 20px;
	padding: 15px 0 17px;
	position: relative;
	width: 128px;
	z-index: 197;
	background: url(/assets/images/tag_plate.png) no-repeat;
	font-family: Deneane, serif;
	font-size: 18.28571px;
	font-weight: normal;
	text-align: center;
}
.fb_share {
	display: table;
	margin: 10px auto 0;
	position: relative;
	z-index: 203;
}
a.fb_share img {
	display: block;
}
.fb_post {
	display: block;
	left: 3px;
	margin: 10px auto 0;
	position: relative;
	width: 101px;
	z-index: 204;
}
a.fb_post img {
	display: block;
}
.text_area-holder {
	margin: 5px auto 0;
	min-height: 96px;
	padding: 17px 15px 24px 24px;
	position: relative;
	width: 210px;
	z-index: 202;
	background: url(/assets/images/text_area.png) no-repeat;
	color: #ffffff;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	font-size: 16.27256px;
	line-height: 24.40885px;
}
.button-4 {
	display: table;
	margin: 0 auto;
	position: relative;
	z-index: 193;
}
.submit-2 {
	float: left;
	margin: 0 68px 0 1px;
	font-family: Deneane, serif;
	font-size: 27.42857px;
}
.cancle-2 {
	float: left;
	margin: 3px 0 0;
	font-family: Deneane, serif;
	font-size: 27.42857px;
}
.game_menu_layer {
	left: 50%;
	min-height: 576px;
	position: absolute;
	top: 64px;
	width: 375px;
	background: url(/assets/images/curtain.png) no-repeat 0 bottom;
	margin-left: -187.5px;
}
.row {
	//margin: 0 auto;
	position: relative;
	text-align: center;
}
.btn_anounce {
	margin: 0 233px 0 0;
}
a.btn_anounce img {
	display: block;
}
a.btn_close-8 img {
	display: block;
}
.row > * {
	display: inline-block;
	vertical-align: top;
}
.wrapper-7 {
	height: 511px;
	margin: 10px 0 0;
	position: relative;
	width: 375px;
}
.button-5 {
	left: 50%;
	position: absolute;
	top: 115px;
	width: 179px;
	margin-left: -84.5px;
}
.button-5 li {
	clear: both;
}
.character-5 {
	font-family: Deneane, serif;
	font-size: 38.09524px;
	text-align: center;
}
.script-3 {
	font-family: Deneane, serif;
	font-size: 38.09524px;
	text-align: center;
	margin-left: 33px;
}
.li-script-3 {
	//margin: 27px 0 0;
}
.clue-2 {
	font-family: Deneane, serif;
	font-size: 38.09524px;
	text-align: center;
	margin-left: 40px;
}
.li-clue-2 {
	margin: 28px 0 0;
}
.guesses {
	font-family: Deneane, serif;
	font-size: 38.09524px;
	text-align: center;
	margin-left: 9px;
}
.li-guesses {
	margin: 27px 0 0;
}
.end-game {
	font-family: Deneane, serif;
	font-size: 38.09524px;
}
.li-end-game {
	margin: 24px 0 0;
}
.menu {
	left: 50%;
	position: absolute;
	color: #010101;
	font-family: Deneane, serif;
	font-size: 38.09524px;
	font-weight: normal;
	margin-left: -47.5px;
}
.menu_layer {
	left: 50%;
	min-height: 489px;
	position: absolute;
	top: 0;
	width: 375px;
	background: url(/assets/images/curtain.png) no-repeat;
	margin-left: -187.5px;
}
.menu-2 {
	color: #010101;
	font-family: Deneane, serif;
	font-size: 38.09524px;
	font-weight: normal;
	text-align: center;
}
.wrapper-14 {
	height: 255px;
	margin: 100px auto 0;
	position: relative;
	width: 201px;
}
.select-6 {
	height: 255px;
	left: 50%;
	position: absolute;
	top: 0;
	width: 201px;
	background: url(/assets/images/curtain.png) no-repeat;
	margin-left: -100.5px;
}
.button-6 {
	left: 50%;
	position: absolute;
	top: 7px;
	width: 124px;
	margin-left: -61.5px;
}
.button-6 li {
	clear: both;
	float: left;
	padding-bottom: 23.666666px;
}
.button-6 li:last-child {
	padding-bottom: 0;
}
.game {
	font-family: Deneane, serif;
	font-size: 39.09399px;
	text-align: center;
	margin-left: 8px;
}
.story-2 {
	font-family: Deneane, serif;
	font-size: 39.09399px;
	text-align: center;
	margin-left: 9px;
}
.help {
	font-family: Deneane, serif;
	font-size: 39.09399px;
	text-align: center;
	margin-left: 15px;
}
.logout {
	font-family: Deneane, serif;
	font-size: 39.09399px;
}
.home_layer {
	left: 50%;
	min-height: 606px;
	padding: 34px 0 0;
	position: absolute;
	top: 0;
	width: 375px;
	background: url(/assets/images/login_register_cover.png) no-repeat;
	margin-left: -187.5px;
}
.logo {
	display: block;
	margin: 0 auto;
	position: relative;
}
.wrapper-8 {
	height: 494px;
	margin: -6px 0 0;
	position: relative;
	width: 375px;
}
.magnifying_glass {
	left: 50%;
	position: absolute;
	top: 389px;
	margin-left: -144.5px;
}
.button-7 {
	left: 50%;
	position: absolute;
	top: 160px;
	width: 151px;
	margin-left: -69.5px;
}
.login {
	margin: 0 19px;
	font-family: Deneane, serif;
	font-size: 36.57143px;
}
.register {
	margin: 51px 0 0;
	font-family: Deneane, serif;
	font-size: 36.57143px;
}
.login_form_layer {
	margin: 0 auto;
	min-height: 370px;
	padding: 0 1px;
	width: 313px;
	background: url(/assets/images/login_paper.png) no-repeat 0 bottom;
}
.btn_close-9 {
	display: block;
	left: 130px;
	margin: 0 auto;
	position: relative;
	width: 53px;
}
a.btn_close-9 img {
	display: block;
}
.login-2 {
	margin: 17px 0 0 17px;
	font-family: Deneane, serif;
	font-size: 39.09399px;
	font-weight: normal;
}
.user-name {
	margin: 29px 0 0 40px;
	font-family: Deneane, serif;
	font-size: 18.28571px;
}
.password {
	margin: 41px 0 0 39px;
	font-family: Deneane, serif;
	font-size: 18.28571px;
}
.row-2 {
	margin: 52px auto 0;
	position: relative;
	width: 254px;
}
.fb_close {
	float: left;
	margin: 3px 51px 0 0;
}
a.fb_close img {
	display: block;
}
.done {
	font-family: Deneane, serif;
	font-size: 36.57143px;
}
.login_form_layer-form {
	left: 50%;
	position: absolute;
	top: 15px;
	width: 315px;
	margin-left: -159.5px;
}
.register_form_layer {
	margin: 0 auto;
	min-height: 368px;
	padding: 0 3px;
	width: 309px;
	background: url(/assets/images/register_paper.png) no-repeat 0 bottom;
}
.btn_close-10 {
	display: block;
	left: 130px;
	margin: 0 auto;
	position: relative;
	width: 49px;
}
a.btn_close-10 img {
	display: block;
}
.register-2 {
	margin: 13px 0 0 17px;
	font-family: Deneane, serif;
	font-size: 27.42857px;
	font-weight: normal;
}
.user-name-2 {
	margin: 17px 0 0 38px;
	font-family: Deneane, serif;
	font-size: 18.28571px;
}
.your-email {
	margin: 31px 0 0 37px;
	font-family: Deneane, serif;
	font-size: 18.28571px;
}
.password-2 {
	margin: 31px 0 0 37px;
	font-family: Deneane, serif;
	font-size: 18.28571px;
}
.row-3 {
	margin: 30px 0 0 32px;
	position: relative;
}
.col-17 {
	float: left;
	margin: 0 4px 0 0;
	position: relative;
	width: 153px;
}
.verify-password {
	margin: 0 10px 0 0;
	font-family: Deneane, serif;
	font-size: 18.28571px;
	text-align: right;
}
.fb_btn {
	display: block;
	margin: 16px 0 0;
	position: relative;
}
a.fb_btn img {
	display: block;
}
.done-2 {
	float: left;
	margin: 36px 0 0;
	width: 97px;
	font-family: Deneane, serif;
	font-size: 36.57143px;
}
.register_form_layer-form {
	left: 50%;
	position: absolute;
	top: 17px;
	width: 315px;
	margin-left: -159.5px;
}
.description_popup-2 {
	left: 50%;
	min-height: 371px;
	padding: 0 5px;
	position: absolute;
	top: 95px;
	width: 305px;
	background: url(/assets/images/description_paper.png) no-repeat 0 bottom;
	margin-left: -159.5px;
}
.btn_close-11 {
	display: block;
	left: 126.5px;
	margin: 0 auto;
	position: relative;
	width: 52px;
}
a.btn_close-11 img {
	display: block;
}
.description_popup_text-copy {
	margin: 9px auto 0;
	width: 238px;
	line-height: 1.2;
}
.suspect_011_faded {
	left: 50%;
	position: absolute;
	top: 81px;
	margin-left: 98.5px;
}
.suspect_005_faded {
	left: 50%;
	position: absolute;
	top: 78px;
	margin-left: -187.5px;
}
.suspect_001_faded-3 {
	left: 50%;
	position: absolute;
	top: 0;
	margin-left: -114.5px;
}
.colorfffefb {
	color: #fffefb;
}
.font-myriadpro {
	font-family: MyriadPro, serif;
}


.pre-scrollable {
	color: white;
	overflow-x: auto;
}


  .inactive {
  	color: gray;
  	opacity: 0.5;
  }
    
.global_container_ a {
	color: white;
	text-decoration: none;
}

.global_container_ a:visited, .global_container_ a:active, .global_container_ a:hover {
	color: white;
	text-decoration: none;
}
    
    
html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}    