@charset "UTF-8";


@font-face {
font-family: "Deneane";
src: 
url("/assets/css/fonts/Deneane_Regular.ttf") format("truetype")
}



/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	//vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
	display: block;
}

/*
a {
	color: inherit;
	text-decoration: none;
}
*/

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
	outline: 0;
}

input {
	border-width: 0;
}

em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	white-space:nowrap;
	overflow:scroll
}

sup {
	vertical-align: text-top;
	font-size: 58.3%; /*Corresponds to Photoshop's font size glyph transformation*/
}

sub {
	vertical-align: text-bottom;
	font-size: 58.3%; /*Corresponds to Photoshop's font size glyph transformation*/
}

img,
embed,
object,
video {
	max-width: 100%;
}

.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1; /* ie 6/7 */
}

.no-space-between-inline-blocks {
	letter-spacing: -0.31em; /* webkit */
	*letter-spacing: normal; /* reset IE < 8 */
	word-spacing: -0.43em; /* IE < 8 && gecko */
}

/* restore spacing on inner elements */
.no-space-between-inline-blocks > * {
	letter-spacing: normal;
	word-spacing: normal;
}

.displace {
	position: absolute;
	left: -5000px;
}


body {
	line-height: 1;
	color: black;
	background: black;
}


body {
	color: #000000;
	font-family: MyriadPro, serif;
	font-size: 18.28571px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0;
	text-decoration: none;
}
body {
	float: none;
	height: 640px;
	height: auto;
	margin: 0 auto;
	min-height: 640px;
	position: relative;
	width: 375px;
}
.game_detail_layer {
	left: 50%;
	min-height: 640px;
	padding: 66px 1px 8px;
	position: absolute;
	top: 0;
	width: 375px;
	background: url(/assets/images/curtain.png) no-repeat;
	margin-left: -187.5px;
}
.header {
	overflow: hidden;
	position: relative;
}
.btn_close {
	display: block;
	left: 143.5px;
	margin: 0 auto;
	position: relative;
	width: 55px;
}
a.btn_close img {
	display: block;
}
.title {
	margin: 26px 0 0;
	font-family: Deneane, serif;
	font-size: 36px;
	font-weight: normal;
	text-align: center;
}
.left_right {
	margin: 189px 0 0;
	position: relative;
}
.left {
	float: left;
	margin: 0 284px 0 0;
}
a.left img {
	display: block;
}
.right {
	float: left;
}
a.right img {
	display: block;
}
.dynamic {
	display: table;
	margin: -278px auto 0;
	position: relative;
}
.wrapper {
	height: 266px;
	position: relative;
	width: 233px;
}
.tag {
	left: 50%;
	margin: 0 0 0 -63.5px;
	min-height: 20px;
	padding: 16px 0;
	position: absolute;
	top: 86px;
	width: 129px;
	background: url(/assets/images/tag_plate.png) no-repeat;
	font-family: Deneane, serif;
	text-align: center;
}
.curtain_plate {
	left: 50%;
	position: absolute;
	top: 0;
	margin-left: -99.5px;
}
.text {
	left: 50%;
	position: absolute;
	top: 38px;
	width: 233px;
	margin-left: -116.5px;
}
.story_title {
	font-family: Deneane, serif;
	font-weight: normal;
	text-align: center;
}
.subtitle {
	margin: 8px 0 0;
	font-family: Deneane, serif;
	font-weight: normal;
	text-align: center;
}
.game_description {
	margin: 56px 0 0;
	font-family: Deneane, serif;
	font-size: 10.66667px;
	text-align: center;
}
.game_description-2 {
	margin: 3px 0 0;
	font-family: Deneane, serif;
	font-size: 10.66667px;
	text-align: center;
}
.wrapper-19 {
	height: 55px;
	margin: 4px 0 0;
	position: relative;
	width: 233px;
}
.player {
	left: 50%;
	position: absolute;
	top: 5px;
	font-family: Deneane, serif;
	font-size: 38.75742px;
	margin-left: -55.5px;
}
.player_glow {
	left: 50%;
	position: absolute;
	top: 0;
	margin-left: -116.5px;
}
.players_list {
	left: 9px;
	margin: 1px auto 0;
	position: relative;
	width: 133px;
}
.players_list li {
	clear: both;
}
.email_text {
	font-family: Deneane, serif;
	font-size: 13.71429px;
}
.email_text-2 {
	font-family: Deneane, serif;
	font-size: 13.71429px;
}
.li-email_text-2 {
	margin: 1px 0 0;
}
.select {
	margin: 105px auto 0;
	min-height: 30px;
	padding: 5px 5px 15px 0;
	width: 215px;
	background: url(/assets/images/select_plate.png) no-repeat;
	font-family: Deneane, serif;
	font-size: 27px;
	text-align: center;
}
.clue_layer {
	left: 50%;
	min-height: 528px;
	padding: 66px 1px 46px;
	position: absolute;
	top: 0;
	width: 375px;
	background: url(/assets/images/curtain.png) no-repeat;
	margin-left: -187.5px;
}
.header-2 {
	overflow: hidden;
	position: relative;
}
.btn_close-2 {
	display: block;
	left: 143.5px;
	margin: 0 auto;
	position: relative;
	width: 55px;
}
a.btn_close-2 img {
	display: block;
}
.title-2 {
	margin: 24px 0 0;
	font-family: Deneane, serif;
	font-size: 36px;
	font-weight: normal;
	text-align: center;
}
.left_right-2 {
	margin: 185px 0 0;
	position: relative;
}
.left-2 {
	float: left;
	margin: 0 284px 0 0;
}
a.left-2 img {
	display: block;
}
.right-2 {
	float: left;
}
a.right-2 img {
	display: block;
}
.full_text_description {
	margin: -170px auto 0;
	position: relative;
	width: 233px;
	color: #fafaf8;
	font-size: 12px;
	line-height: 1.2;
}
.announcement_layer {
	left: 50%;
	min-height: 517px;
	padding: 66px 1px 57px;
	position: absolute;
	top: 0;
	width: 375px;
	background: url(/assets/images/curtain.png) no-repeat;
	margin-left: -187.5px;
}
.header-3 {
	overflow: hidden;
	position: relative;
}
.btn_close-3 {
	display: block;
	left: 143.5px;
	margin: 0 auto;
	position: relative;
	width: 55px;
}
a.btn_close-3 img {
	display: block;
}
.title-3 {
	margin: 26px 0 0;
	font-size: 36px;
	font-weight: normal;
	text-align: center;
}
.left_right-3 {
	margin: 194px 0 0;
	position: relative;
}
.left-3 {
	float: left;
	margin: 0 284px 0 0;
}
a.left-3 img {
	display: block;
}
.right-3 {
	float: left;
}
a.right-3 img {
	display: block;
}
.dynamic-2 {
	margin: -218px auto 0;
	position: relative;
	width: 244px;
	z-index: 0;
}
.curtain_plate-holder {
	margin: 0 auto;
	overflow: hidden;
	padding: 38px 16px 47px;
	position: relative;
	right: 3px;
	width: 172px;
	z-index: 51;
	background: url(/assets/images/curtain_plate.png) no-repeat;
}
.name_text {
	margin: 0 0 0 14px;
	position: relative;
}
.curtain_plate_subtext_h5 {
	font-size: 12px;
	text-align: center;
}
.curtain_plate_text {
	margin: 4px 0 0;
	font-family: Deneane, serif;
	font-size: 20px;
	font-weight: normal;
}
.text_description {
	margin: -10px 0 0;
	position: relative;
	z-index: 50;
	color: #fafaf8;
	font-size: 12px;
	line-height: 1.2;
}
.story_layer {
	left: 50%;
	min-height: 566px;
	padding: 66px 1px 8px;
	position: absolute;
	top: 0;
	width: 375px;
	background: url(/assets/images/curtain.png) no-repeat;
	margin-left: -187.5px;
}
.header-4 {
	overflow: hidden;
	position: relative;
}
.btn_close-4 {
	display: block;
	left: 143.5px;
	margin: 0 auto;
	position: relative;
	width: 55px;
}
a.btn_close-4 img {
	display: block;
}
.title-4 {
	margin: 20px 0 0;
	font-family: Deneane, serif;
	font-size: 37;
	font-weight: normal;
	text-align: center;
}
.left_right-4 {
	margin: 185px 0 0;
	position: relative;
}
.left-4 {
	float: left;
	margin: 0 284px 0 0;
}
a.left-4 img {
	display: block;
}
.right-4 {
	float: left;
}
a.right-4 img {
	display: block;
}
.dynamic-3 {
	margin: -218px auto 0;
	position: relative;
	right: 6px;
	width: 253px;
	z-index: 0;
}
.wrapper-5 {
	height: 334px;
	left: 7px;
	margin: 0 auto;
	position: relative;
	width: 239px;
	z-index: 73;
}
.text_description-2 {
	left: 50%;
	position: absolute;
	top: 112px;
	width: 239px;
	color: #fafaf8;
	line-height: 1.2;
	margin-left: -119.5px;
	font-size:12px;
}
.curtain_plate-2 {
	left: 50%;
	position: absolute;
	top: 0;
	margin-left: -102.5px;
}
.name_text-2 {
	left: 50%;
	position: absolute;
	top: 37px;
	width: 158px;
	margin-left: -72.5px;
}
.curtain_plate_text-2 {
	font-family: Deneane, serif;
	font-size: 20px;
	font-weight: normal;
}
.btn_show {
	display: block;
	margin: 16px 0 0;
	position: relative;
	z-index: 78;
}
a.btn_show img {
	display: block;
}
.select-2 {
	left: 3.5px;
	margin: -21px auto 0;
	min-height: 30px;
	padding: 5px 5px 15px 0;
	position: relative;
	width: 215px;
	z-index: 70;
	background: url(/assets/images/select_plate_2.png) no-repeat;
	font-family: Deneane, serif;
	font-size: 27px;
	text-align: center;
}
.content {
	height: 640px;
	left: 50%;
	position: absolute;
	top: 0;
	width: 375px;
	background: url(/assets/images/curtain_2.png) no-repeat;
	margin-left: -187.5px;
}
.game_form_layer {
	margin: 0 auto;
	width: 293px;
}
.title-5 {
	margin: 0 0 0 101px;
	font-family: Deneane, serif;
	font-size: 37px;
	font-weight: normal;
}
.wrapper-10 {
	height: 338px;
	margin: 33px 0 0;
	position: relative;
	width: 293px;
}
.invite {
	height: 112px;
	left: 50%;
	padding: 2px;
	position: absolute;
	top: 218px;
	width: 250px;
	border: none;	border: 0 none;
	background: url(/assets/images/invite.png) no-repeat;
	margin-left: -108.5px;
}
.facebook_friends_list {
	height: 77px;
	left: 50%;
	padding: 2px;
	position: absolute;
	top: 135px;
	width: 249px;
	border: none;	border: 0 none;
	background: url(/assets/images/facebook_friends_list.png) no-repeat;
	margin-left: -106.5px;
}
.tag-2 {
	left: 50%;
	min-height: 52px;
	padding: 16px 0 0;
	position: absolute;
	top: 87px;
	width: 229px;
	background: url(/assets/images/tag_plate.png) no-repeat 100px 0;
	margin-left: -146.5px;
}
.fb_friends_btn {
	float: left;
	margin: 17px 11px 0 0;
}
a.fb_friends_btn img {
	display: block;
}
.tag_link-2 {
	font-family: Deneane, serif;
}
.curtain_plate-holder-2 {
	left: 50%;
	padding: 40px 10px 26px;
	position: absolute;
	top: 0;
	width: 181px;
	background: url(/assets/images/curtain_plate.png) no-repeat;
	margin-left: -83.5px;
}
.game_form_header {
	margin: 0 0 0 19px;
	position: relative;
}
.curtain_plate_text-3 {
	font-family: Deneane, serif;
	font-weight: normal;
	font-size: 20px;
}
.curtain_plate_subtext {
	margin: 8px 0 0;
	font-family: Deneane, serif;
	font-weight: normal;
	text-align: center;
}
.button {
	margin: 13px 0 0 40px;
	position: relative;
}
.submit {
	float: left;
	margin: 0 67px 0 1px;
	font-family: Deneane, serif;
	font-size: 27px;
}
.cancle {
	float: left;
	margin: 4px 0 0;
	font-family: Deneane, serif;
	font-size: 27px;
}
.game_form_layer-form {
	left: 50%;
	position: absolute;
	top: 147px;
	width: 293px;
	margin-left: -165.5px;
}
.announcement_form_layer {
	margin: 0 auto;
	width: 299px;
	z-index: 0;
}
.btn_close-5 {
	display: block;
	left: 122px;
	margin: 0 auto;
	position: relative;
	width: 55px;
	z-index: 145;
}
a.btn_close-5 img {
	display: block;
}
.title-6 {
	margin: 30px 51px 0;
	position: relative;
	z-index: 146;
	font-size: 36px;
	font-weight: normal;
	font-family: Deneane, serif;
}
.col {
	margin: 39px auto 0;
	min-height: 48px;
	overflow: hidden;
	padding: 39px 15px 37px;
	position: relative;
	right: 21.5px;
	width: 174px;
	z-index: 139;
	background: url(/assets/images/curtain_plate.png) no-repeat;
}
.curtain_plate_text-4 {
	font-family: Deneane, serif;
	font-weight: normal;
	text-align: center;
}
.curtain_plate_subtext-2 {
	margin: 8px 0 0;
	font-family: Deneane, serif;
	font-weight: normal;
	text-align: center;
}
.tag-3 {
	margin: -38px auto 0;
	min-height: 20px;
	padding: 16px 0;
	position: relative;
	right: 23px;
	width: 129px;
	z-index: 136;
	background: url(/assets/images/tag_plate.png) no-repeat;
	font-family: Deneane, serif;
	text-align: center;
}
.fb_share {
	display: block;
	margin: 2px auto 0;
	position: relative;
	right: 25.5px;
	width: 106px;
	z-index: 143;
}
a.fb_share img {
	display: block;
}
.fb_post {
	display: block;
	margin: 7px auto 0;
	position: relative;
	right: 26.5px;
	width: 106px;
	z-index: 144;
}
a.fb_post img {
	display: block;
}
.invite-2 {
	display: block;
	height: 112px;
	padding: 2px;
	position: relative;
	width: 250px;
	z-index: 128;
	border: none;	border: 0 none;
	background: url(/assets/images/invite.png) no-repeat;
}
.button-2 {
	margin: 13px 0 0 2px;
	position: relative;
	z-index: 125;
}
.submit-2 {
	float: left;
	margin: 0 67px 0 1px;
	font-family: Deneane, serif;
	font-size: 27px;
}
.cancle-2 {
	float: left;
	margin: 4px 0 0;
	font-family: Deneane, serif;
	font-size: 27px;
}
.announcement_form_layer-form {
	left: 50%;
	position: absolute;
	top: 65px;
	width: 299px;
	margin-left: -127.5px;
}
.script_layer {
	left: 50%;
	position: absolute;
	top: 0;
	width: 375px;
	margin-left: -187.5px;
}
.col-2 {
	min-height: 566px;
	padding: 66px 16px 8px;
	position: relative;
	width: 343px;
	z-index: 0;
	background: url(/assets/images/curtain.png) no-repeat;
}
.btn_close-6 {
	display: block;
	left: 144px;
	margin: 0 auto;
	position: relative;
	width: 55px;
	z-index: 160;
}
a.btn_close-6 img {
	display: block;
}
.title-7 {
	margin: 20px 0 0;
	position: relative;
	z-index: 161;
	font-family: Deneane, serif;
	font-size: 36;
	font-weight: normal;
	text-align: center;
}
.curtain_plate-holder-3 {
	margin: 32px auto 0;
	padding: 42px 16px 56px;
	position: relative;
	width: 172px;
	z-index: 155;
	background: url(/assets/images/curtain_plate.png) no-repeat;
}
.name_text-3 {
	margin: 0 0 0 14px;
	position: relative;
	font-family: Deneane, serif;
	font-size: 22.85714px;
	font-weight: normal;
}
.btn_show-2 {
	display: block;
	margin: 226px 0 0 39px;
	position: relative;
	z-index: 159;
}
a.btn_show-2 img {
	display: block;
}
.select-3 {
	//margin: -21px auto 0;
	min-height: 30px;
	//padding: 5px 5px 15px 0;
	position: relative;
	width: 215px;
	z-index: 152;
	background: url(/assets/images/select_plate_2.png) no-repeat;
	font-family: Deneane, serif;
	font-size: 27px;
	text-align: center;
}
.game_menu_layer {
	left: 50%;
	min-height: 508px;
	padding: 66px 16px;
	position: absolute;
	top: 0;
	width: 375px;
	background: url(/assets/images/curtain.png) no-repeat;
	margin-left: -187.5px;
}
.header-5 {
	position: relative;
}
.row {
	position: relative;
}
.btn_anounce {
	float: left;
	margin: 0 233px 0 0;
}
a.btn_anounce img {
	display: block;
}
.btn_close-7 {
	float: left;
}
a.btn_close-7 img {
	display: block;
}
.title-8 {
	margin: 21px 0 0;
	color: #010101;
	font-family: Deneane, serif;
	font-size: 36px;
	font-weight: normal;
	text-align: center;
}
.wrapper-3 {
	height: 314px;
	margin: 78px auto 0;
	position: relative;
	width: 234px;
}
.button-3 {
	left: 50%;
	position: absolute;
	top: 6px;
	width: 179px;
	margin-left: -88px;
}
.button-3 li {
	clear: both;
}
.menu_select {
	font-family: Deneane, serif;
	font-size: 38.09524px;
	text-align: center;
}
.menu_select-2 {
	font-family: Deneane, serif;
	font-size: 38.09524px;
	text-align: center;
	margin-left: 30px;
}
.li-menu_select-2 {
	margin: 28px 0 0;
}
.menu_select-3 {
	font-family: Deneane, serif;
	font-size: 38.09524px;
	text-align: center;
	margin-left: 41px;
}
.li-menu_select-3 {
	margin: 29px 0 0;
}
.menu_select-4 {
	font-family: Deneane, serif;
	font-size: 38.09524px;
	text-align: center;
	margin-left: 9px;
}
.li-menu_select-4 {
	margin: 26px 0 0;
}
.menu_select-5 {
	font-family: Deneane, serif;
	font-size: 38.09524px;
}
.li-menu_select-5 {
	margin: 24px 0 0;
}
.select_game_menu_glow {
	left: 50%;
	position: absolute;
	top: 0;
	margin-left: -117px;
}
.menu_layer {
	left: 50%;
	position: absolute;
	top: 0;
	width: 375px;
	margin-left: -187.5px;
}
.col-4 {
	min-height: 393px;
	padding: 141px 0 106px;
	position: relative;
	width: 375px;
	background: url(/assets/images/curtain.png) no-repeat;
}
.title-9 {
	color: #010101;
	font-family: Deneane, serif;
	font-size: 36px;
	font-weight: normal;
	text-align: center;
}
.wrapper-6 {
	height: 248px;
	margin: 106px auto 0;
	position: relative;
	width: 202px;
}
.button-4 {
	left: 50%;
	position: absolute;
	top: 7px;
	width: 131px;
	margin-left: -61px;
}
.button-4 li {
	clear: both;
	float: left;
	padding-bottom: 24.333334px;
}
.button-4 li:last-child {
	padding-bottom: 0;
}
.menu_item {
	font-family: Deneane, serif;
	font-size: 39.09399px;
	text-align: center;
	margin-left: 5px;
}
.menu_item-2 {
	font-family: Deneane, serif;
	font-size: 39.09399px;
	margin-left: 13px;
}
.menu_item-3 {
	font-family: Deneane, serif;
	font-size: 39.09399px;
	text-align: center;
	margin-left: 15px;
}
.menu_item-4 {
	font-family: Deneane, serif;
	font-size: 39.09399px;
}
.main_menu_select_glow {
	left: 50%;
	position: absolute;
	top: 0;
	margin-left: -101px;
}
/*
.character_layer {
	left: 50%;
	min-height: 567px;
	padding: 66px 1px 7px;
	position: absolute;
	top: 0;
	width: 375px;
	z-index: 0;
	background: url(/assets/images/door.png) no-repeat;
	margin-left: -187.5px;
}
*/
.header-6 {
	overflow: hidden;
	position: relative;
	z-index: 225;
}
.btn_close-8 {
	display: block;
	left: 143.5px;
	margin: 0 auto;
	position: relative;
	width: 55px;
}
a.btn_close-8 img {
	display: block;
}
.title-10 {
	margin: 22px 0 0;
	font-family: Deneane, serif;
	font-size: 27;
	font-weight: normal;
	text-align: center;
}
.left_right-5 {
	margin: 186px 0 0;
	position: relative;
}
.left-5 {
	float: left;
	margin: 0 284px 0 0;
}
a.left-5 img {
	display: block;
}
.right-5 {
	float: left;
}
a.right-5 img {
	display: block;
}
.dynamic-4 {
	height: 422px;
	margin: -218px 0 0 16px;
	position: relative;
	width: 300px;
	z-index: 194;
}
.btn_done {
	left: 50%;
	position: absolute;
	top: 346px;
	margin-left: 95px;
}
a.btn_done img {
	display: block;
}
.character {
	left: 50%;
	position: absolute;
	top: 134px;
	margin-left: -150px;
}
.character_murderer_layer {
	height: 305px;
	left: 50%;
	position: absolute;
	top: 116px;
	/*width: 375px;*/
	width: 259px;
	margin-left: -109px;
}
.line {
	left: 50%;
	position: absolute;
	top: 294px;
	margin-left: -112.5px;
}
.select-4 {
	left: 50%;
	min-height: 30px;
	padding: 5px 17px 6px;
	position: absolute;
	top: 255px;
	width: 92px;
	background: url(/assets/images/select_plate_4.png) no-repeat;
	margin-left: -65.5px;
}
.select_text-4 {
	font-family: Deneane, serif;
	font-size: 27px;
	text-align: center;
}
.icon_murder {
	left: 50%;
	position: absolute;
	top: 226px;
	margin-left: 73.5px;
}
.dagger {
	left: 50%;
	position: absolute;
	top: 0;
	margin-left: -129.5px;
}
.character_select_layer {
	left: 50%;
	position: absolute;
	top: 255px;
	/*width: 220px;*/
	width: 375px;
	z-index: 0;
	margin-left: -112.5px;
}
.select-5 {
	margin: 0 auto;
	min-height: 30px;
	overflow: hidden;
	padding: 5px 17px 6px;
	position: relative;
	width: 92px;
	z-index: 209;
	background: url(/assets/images/select_plate_4.png) no-repeat;
	font-family: Deneane, serif;
	font-size: 27px;
	text-align: center;
}
.line-2 {
	display: block;
	margin: -2px 0 0;
	position: relative;
	z-index: 207;
}
.tag-4 {
	left: 50%;
	margin: 0 0 0 -45px;
	min-height: 20px;
	padding: 16px 0;
	position: absolute;
	top: 86px;
	width: 129px;
	background: url(/assets/images/tag_plate.png) no-repeat;
	font-family: Deneane, serif;
	text-align: center;
}
.curtain_plate-holder-4 {
	left: 50%;
	padding: 37px 16px 50px;
	position: absolute;
	top: 0;
	width: 172px;
	background: url(/assets/images/curtain_plate.png) no-repeat;
	margin-left: -81px;
}
.name_text-4 {
	margin: 0 0 0 14px;
	position: relative;
}
.curtain_plate_subtext-3 {
	font-size: 12px;
	font-weight: normal;
	text-align: center;
}
.curtain_plate_text-6 {
	margin: 2px 0 0;
	font-family: Deneane, serif;
	font-size: 20px;
	font-weight: normal;
}
.home_layer {
	left: 50%;
	min-height: 606px;
	padding: 34px 27px 0;
	position: absolute;
	top: 0;
	width: 375px;
	background: url(/assets/images/login_register_cover.png) no-repeat;
	margin-left: -187.5px;
}
.logo {
	display: block;
	margin: 0 auto;
}
.wrapper-4 {
	height: 479px;
	margin: 9px 0 0;
	position: relative;
	width: 316px;
}
.magnifying_glass {
	left: 50%;
	position: absolute;
	top: 374px;
	margin-left: -141px;
}
.button-5 {
	left: 50%;
	position: absolute;
	top: 211px;
	width: 152px;
	margin-left: -67px;
}
.home_link {
	margin: 0 19px;
	font-family: Deneane, serif;
	font-size: 37px;
}
.home_link-2 {
	margin: 51px 0 0;
	font-family: Deneane, serif;
	font-size: 37px;
}
.login_form_layer {
	margin: 0 auto;
	min-height: 370px;
	padding: 0 1px;
	width: 312px;
	background: url(/assets/images/login_paper.png) no-repeat 0 bottom;
}
.btn_close-9 {
	display: block;
	left: 130px;
	margin: 0 auto;
	position: relative;
	width: 52px;
}
a.btn_close-9 img {
	display: block;
}
.form_title {
	margin: 18px 0 0 17px;
	font-family: Deneane, serif;
	font-size: 39px;
	font-weight: normal;
}
.wrapper-12 {
	height: 113px;
	margin: 15px auto 0;
	position: relative;
	width: 272px;
}
.password {
	height: 113px;
	left: 50%;
	padding: 0 2px;
	position: absolute;
	top: 0;
	width: 266px;
	border: none;	border: 0 none;
	background: url(/assets/images/password.png) no-repeat;
	margin-left: -136px;
}
.username {
	height: 47px;
	left: 50%;
	padding: 0 2px;
	position: absolute;
	top: 0;
	width: 267px;
	border: none;	border: 0 none;
	background: url(/assets/images/username.png) no-repeat;
	margin-left: -135px;
}
.password-2 {
	height: 47px;
	left: 50%;
	padding: 0 2px;
	position: absolute;
	top: 66px;
	width: 267px;
	border: none;	border: 0 none;
	background: url(/assets/images/password_2.png) no-repeat;
	margin-left: -136px;
}
.form_field {
	left: 50%;
	position: absolute;
	top: 15px;
	font-family: Deneane, serif;
	margin-left: -116px;
}
.form_field-2 {
	left: 50%;
	position: absolute;
	top: 76px;
	font-family: Deneane, serif;
	margin-left: -116px;
}
.row-2 {
	margin: 36px auto 0;
	position: relative;
	width: 253px;
}
.fb_btn {
	float: left;
	margin: 3px 52px 0 0;
}
a.fb_btn img {
	display: block;
}
.done {
	font-family: Deneane, serif;
	font-size: 27;
}
.login_form_layer-form {
	left: 50%;
	position: absolute;
	top: 0;
	width: 314px;
	margin-left: -156px;
}
.register_form_layer {
	margin: 0 auto;
	min-height: 368px;
	padding: 0 3px;
	width: 308px;
	background: url(/assets/images/register_paper.png) no-repeat 0 bottom;
}
.btn_close-10 {
	display: block;
	left: 130px;
	margin: 0 auto;
	position: relative;
	width: 48px;
}
a.btn_close-10 img {
	display: block;
}
.form_title-2 {
	margin: 13px 0 0 17px;
	font-family: Deneane, serif;
	font-size: 27px;
	font-weight: normal;
}
.wrapper-17 {
	height: 38px;
	margin: 9px auto 0;
	position: relative;
	right: 2.5px;
	width: 271px;
}
.username-2 {
	height: 38px;
	left: 50%;
	padding: 0 2px;
	position: absolute;
	top: 0;
	width: 267px;
	border: none;	border: 0 none;
	background: url(/assets/images/username_2.png) no-repeat;
	margin-left: -135.5px;
}
.form_field_label {
	left: 50%;
	position: absolute;
	top: 8px;
	font-family: Deneane, serif;
	margin-left: -114.5px;
}
.wrapper-18 {
	height: 37px;
	margin: 13px auto 0;
	position: relative;
	width: 271px;
}
.email {
	height: 37px;
	left: 50%;
	padding: 0 2px;
	position: absolute;
	top: 0;
	width: 267px;
	border: none;	border: 0 none;
	background: url(/assets/images/email.png) no-repeat;
	margin-left: -135.5px;
}
.form_field_label-2 {
	left: 50%;
	position: absolute;
	top: 8px;
	font-family: Deneane, serif;
	margin-left: -116.5px;
}
.wrapper-16 {
	height: 37px;
	margin: 15px auto 0;
	position: relative;
	width: 271px;
}
.password-3 {
	height: 37px;
	left: 50%;
	padding: 0 2px;
	position: absolute;
	top: 0;
	width: 267px;
	border: none;	border: 0 none;
	background: url(/assets/images/password_3.png) no-repeat;
	margin-left: -135.5px;
}
.form_field_label-3 {
	left: 50%;
	position: absolute;
	top: 8px;
	font-family: Deneane, serif;
	margin-left: -116.5px;
}
.verify_password {
	display: block;
	height: 37px;
	margin: 15px auto 0;
	padding: 0 19px;
	width: 233px;
	border: none;	border: 0 none;
	background: url(/assets/images/verify_password.png) no-repeat;
	color: #000000;
	font-family: Deneane, serif;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 37px;
}
.row-3 {
	margin: 7px auto 0;
	position: relative;
	width: 253px;
}
.fb_link {
	float: left;
	margin: 2px 52px 0 0;
}
a.fb_link img {
	display: block;
}
.done-2 {
	font-family: Deneane, serif;
	font-size: 27;
}
.register_form_layer-form {
	left: 50%;
	position: absolute;
	top: 2px;
	width: 314px;
	margin-left: -156px;
}
.descrpition_popup {
	left: 50%;
	min-height: 367px;
	padding: 0 5px;
	position: absolute;
	top: 84px;
	width: 305px;
	background: url(/assets/images/description_paper.png) no-repeat 0 bottom;
	margin-left: -158px;
}
.btn_close-11 {
	display: block;
	left: 125px;
	margin: 0 auto;
	position: relative;
	width: 55px;
}
a.btn_close-11 img {
	display: block;
}
.description_popup_text {
	margin: 6px auto 0;
	position: relative;
	right: 4px;
	width: 263px;
	font-size: 12px;
	line-height: 1.2;
}
.font-myriadpro {
	font-family: MyriadPro, serif;
}

.fb_friends_btn {
    margin: 0px 11px 0 0;
}
html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
} 

a {
       background-color: transparent;
       color: black !important;
       text-decoration: none;
}

a:hover !important, a:link !important, a:active !important {
    text-decoration: none;
    color: black;
}

.descrpition_popup_altered {
    min-height: 367px;
    position:absolute;
    top:40px;
    left:50px;
    width: 305px;
    background: url(/assets/images/description_paper.png) no-repeat 0 bottom;
}

.descrpition_popup_altered ul {	
	padding-left:10px;
	padding-right:10px;
}
