		.modal-body {
		    background: url('/assets/images/VEGA-POSTIT2.png') no-repeat;
		    background-repeat: no-repeat;
		    background-size: cover;
		    height: 500px;
		}
        
		.modal-content
		{
			background:transparent;
			webkit-box-shadow: 0 5px 15px rgb(208, 206, 206);
		    box-shadow: 0 5px 15px rgb(208, 206, 206);
		}
		
		.modal-backdrop
		{
		    opacity:0.8 !important;
		}
		
		.modal-header
		{
			opacity:0.8 !important;
		    background-color: white;
		    border-radius: 25px;
		}
		
		.modal-footer
		{
		    border: none;
		}
		
		.pre-scrollable {
			padding-top: 75px;
		}